img {
	width: 100%;
}

.flex {
	display: flex;
	justify-content: space-between;
}

html,
body,
div,
span,
p {
	font-size: 0.07rem;
}
ul{
	padding:0;
}
li{
	list-style: none;
}

a{
	list-style: none;
	text-decoration: none;
}