img {
	width: 100%;
}

.flex {
	display: flex;
	justify-content: space-between;
}

html,
body,
div,
span,
p {
	font-size: 0.07rem;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

a {
	list-style: none;
	text-decoration: none;
	color: black;
}

.font-strong {
	font-size: 0.18rem;
	font-family: Microsoft YaHei, Microsoft YaHei-Bold;
	font-weight: 700;
	text-align: left;
	color: #333333;
}

.font-default {
	font-size: 0.18rem;
	font-family: Microsoft YaHei, Microsoft YaHei-Regular;
	font-weight: 400;
	text-align: left;
	color: #333333;
}
.guide-select:hover{
	color: #ff6600;
}
.hidden{
	display: none;
}

table{
	width: initial !important;
}

