img {
  	width: 100%;
  }

  .flex {
  	display: flex;
	justify-content: space-between;
  }
  html,body,div,span,p{
  	font-size: 0.26rem;
  }
/* 	@import url("@/common/normalize.css");
	@import url("@/common/animate/animate.min.css");
	@import url("@/common/common.css"); */
	
/* 	import pageAnimation from './components/page-animation'
	import "@/common/rem.js" */
	
	/* 		mixins: [pageAnimation], */