.nav {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0.2rem;
}

.nav-layout img {
    width: 0.8rem;
}

.nav>div:nth-child(2) {
    width: 0.8rem;
    height: 0.8rem;
    background: #EFEFF2;
    border-radius: 0.5rem;
    background-image: url("./../assets/Icon-Next@2x.png");
    background-size: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.headerText {
    width: 6.86rem;
    height: 1.5rem;
    opacity: 1;
    font-size: 0.68rem;
    font-family: SFProDisplay-Bold;
    text-align: left;
    color: #1b2749;
    line-height: 0.82rem;
    letter-spacing: 0.008rem;
    margin-left: 0.36rem;
}

.nav-icon {
    display: flex;
    margin-left: 0.36rem;
    height: 2rem;
}

.nav-icon>div {
    margin-right: 0.68rem;
}

.nav-icon>div>div {
    text-align: center;
    padding-top: 1rem;
}

.nav-icon>div:nth-child(1) {
    width: 0.9rem;
    height: 0.9rem;
    background: #EFEFF2;
    border-radius: 0.5rem;
    background-image: url("./../assets/roast-chicken@2x.png");
    background-size: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-icon>div:nth-child(2) {
    width: 0.9rem;
    height: 0.9rem;
    background: #EFEFF2;
    border-radius: 0.5rem;
    background-image: url("./../assets/steak@2x.png");
    background-size: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-icon>div:nth-child(3) {
    width: 0.9rem;
    height: 0.9rem;
    background: #EFEFF2;
    border-radius: 0.5rem;
    background-image: url("./../assets/takeaway\ \(2\).png");
    background-size: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-icon>div:nth-child(4) {
    width: 0.9rem;
    height: 0.9rem;
    background: #EFEFF2;
    border-radius: 0.5rem;
    background-image: url("./../assets/rice@2x.png");
    background-size: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.section {
    width: 6.8rem;
    height: 6.8rem;
    background: #EFEFF2;
    border-radius: 0.5rem;
    background-image: url("../assets/Bitmap_1.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    overflow: hidden;
}

.section>div {
    width: 6rem;
    height: 2rem;
    opacity: 1;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 0.16rem;
    box-shadow: 0rem 0.2rem 0.4rem 0rem rgb(0 0 0 / 10%);
    -webkit-backdrop-filter: blur(0.2rem);
    backdrop-filter: blur(0.2rem);
    margin: auto;
    margin-top: 64%;
}
.section-1{
    display: flex;
    display: flex;
    /* margin: 0.2rem; */
    padding: 0.2rem;
}
.section-1>div>div:nth-child(1){
    width: 4.54rem;

opacity: 1;
font-size: 0.3rem;
font-family: SFProText-Bold;
text-align: left;
color: #1b2749;
line-height: 0.4rem;
letter-spacing: -0.005rem;
}
.section-1>div>div:nth-child(2){
    width: 4.54rem;
    opacity: 1;
    font-size: 0.26rem;
    font-family: SFProText-Medium;
    text-align: left;
    color: #7f8592;
    line-height: 0.36rem;
    letter-spacing: -0.002rem;
    margin-top: 3%;
}
.section-1>div:nth-child(2){
    width: 0.92rem;
    height: 0.82rem;
}
.section-1>div:nth-child(2)>div{
    width: 0.72rem;
    height: 0.72rem;
    opacity: 1;
    background: #fa7268;
    border-radius: 0.5rem;
    background-image: url("../assets/餐具.png");
    background-size: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-top: 9%;
    margin-left: 3%;
}
hr{
    margin: 0 0.2rem;
}
.section-2{
    display: flex;
    margin: 0.1rem 0.2rem;
    justify-content: space-between;
}
.section-2 img{
    width: 0.32rem;
    height: 0.32rem;
    /* margin-top: 4%; */
    float: left;
    margin-right: 0.1rem;
}
.section-2>div>span:nth-of-type(1){

    opacity: 1;
    font-size: 0.26rem;
    font-family: SFProText-Medium;
    text-align: left;
    color: #1b2749;
    line-height: 0.36rem;
    letter-spacing: -0.002rem;
}
.section-2>div>span:nth-of-type(2){
    width: 0.7rem;
    height: 0.3rem;
    opacity: 1;
    font-size: 0.26rem;
    font-family: SFProText-Medium;
    text-align: left;
    color: #7f8592;
    line-height: 0.36rem;
    letter-spacing: -0.002rem;
}
.text-1{
    width: 5.06rem;
    height: 0.4rem;
    opacity: 1;
    font-size: 0.3rem;
    font-family: SFProText-Bold;
    text-align: left;
    color: #1b2749;
    line-height: 0.4rem;
    letter-spacing: -0.005rem;
    margin-left: 0.3rem;
    margin: 0.4rem 0.4rem;
}


.swiper-container {
    width: 100%;
}  
.swiper-slide{
    width: 100%;
}
.swiper-slide>img{
    width: 100%;
}
.swiper{
    margin:0  0.4rem 1rem;
}

