.show {
    width: 7.13rem;
    opacity: 1;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 0px rgba(82, 82, 84, 0.17);
    margin: 0 auto;
    margin-top: 0.29rem;
    display: flex;
}

.show>div:nth-of-type(2) {
    width: 4.4rem;
    margin-bottom: 0.57rem;
}

.show img {
    width: 1rem;
    height: 1rem;
    margin: 0.54rem 0.34rem;
}

.show>div:nth-of-type(2)>p {
    width: 2.42rem;
    opacity: 1;
    font-size: 0.36rem;
    font-family: PingFang SC, PingFang SC-Medium;
    font-weight: 500;
    text-align: left;
    color: #141414;
    margin: 0;
    margin-top: 0.5rem;
    height: 0;
}

.show>div:nth-of-type(2)>span {
    width: 3.14rem;
    opacity: 1;
    font-size: 0.24rem;
    font-family: PingFang SC, PingFang SC-Medium;
    font-weight: 500;
    text-align: left;
    color: #999999;
    margin: 0;
    float: left;
    top: 1rem;
    margin-top: 0.5rem;
}

.show>div:nth-of-type(2)>div {
    margin-top: -0.6rem;
    float: left;
    /* height: 1.1rem; */
}

.show>div:nth-of-type(2)>div>img {
    width: 0.24rem;
    height: 0.26rem;
    opacity: 1;
    margin: 0;
}

.show>div:nth-of-type(2)>div>span {
    width: 1.94rem;
    height: 0.27rem;
    opacity: 1;
    font-size: 0.28rem;
    font-family: PingFang SC, PingFang SC-Medium;
    font-weight: 500;
    text-align: left;
    color: #666666;
    line-height: 0.5rem;
}

.address {
    width: 3.9rem;
    height: 0.7rem;
    opacity: 1;
    font-size: 0.28rem;
    font-family: PingFang SC, PingFang SC-Medium;
    font-weight: 500;
    text-align: left;
    color: #666666;
    line-height: 0.42rem;
    float: left;
    margin-left: 0.5rem;
    margin-top: -0.6rem;
    margin-bottom: 0.2rem;

}
.more{
    width: 2.18rem;
    height: 0.29rem;
    opacity: 1;
    font-size: 0.3rem;
    font-family: PingFang SC, PingFang SC-Medium;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    padding: 0.34rem 0;
}
.status-is{
    width: 1.65rem;
    height: 0.32rem;
    opacity: 1;
    font-size: 0.34rem;
    font-family: PingFang SC, PingFang SC-Medium;
    font-weight: 500;
    text-align: center;
    color: #037808;
    line-height: 0.5rem;
    padding-top: 0.39rem;
}
.status-not{
    width: 1.65rem;
    height: 0.32rem;
    opacity: 1;
    font-size: 0.34rem;
    font-family: PingFang SC, PingFang SC-Medium;
    font-weight: 500;
    text-align: center;
    color: #d11414;
    line-height: 0.5rem;
    padding-top: 0.39rem;
}