// 一些通用样式文件
.h100{
  height: 100%;
  box-sizing: border-box;
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::before {
  display: table;
  content: '';
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.clearfix::before {
  display: table;
  content: '';
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-deleted {
  text-decoration: line-through;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-wrap {
  white-space: pre-wrap !important;
}

.text-ellispis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}

.text-xs {
  font-size: 12px !important;
}

.text-sm {
  font-size: 14px !important;
}

.text-md {
  font-size: 16px !important;
}

.text-lg {
  font-size: 18px !important;
}

.text-xl {
  font-size: 22px !important;
}

.point {
  cursor: pointer;
}

.default {
  cursor: default;
}