.tool {
    width: 7.16rem;
    height: 4.58rem;
    opacity: 1;
    background: #ffffff;
    border-radius: 24px;
    background-color: #ffffff;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 0.05rem;
    z-index: 1000;

}

.all-tool {
    display: flex;
    justify-content: space-around;
}

.tool>p {
    font-size: 0.3rem;
    opacity: 1;
    font-family: PingFang SC, PingFang SC-Bold;
    font-weight: 700;
    text-align: left;
    color: #494949;
    margin: 0.22rem;
}

.tool- {
    text-align: center;
}

.tool- img {
    width: 0.72rem;
    height: 0.72rem;
}

.tool- p {
    text-align: center;
    width: 0.97rem;
    height: 0.33rem;
    opacity: 1;
    font-size: 0.24rem;
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    color: #333333;
    letter-spacing: 0rem;
}