//配置element自适应

.el-button{
  // height: 0.3rem;
  display: flex;
  width: fit-content;
  min-width: 0.2rem;
  align-content: center;
}

i[class^=el-icon-]{
  font-size: 0.24rem;
  color: #222;
}