{{#addresses}}
<tr id='{{addressId}}' data-address='{{address}}'>
  <td class="t-align-c">{{firstName}}</td>
  <td class="t-align-c">{{lastName}}</td>
  <td class="t-align-c">{{addressLine1}} {{addressLine2}}</td>
  <td class="t-align-c">{{label}}</td>
  <td class="t-align-c">{{city}}</td>
  <td class="t-align-c">{{country.countryName}}</td>
  <td class="t-align-c">{{zipCode}}</td>
  <td class="t-align-c">{{state.stateName}}</td>
  <td class="t-align-c">{{phoneNumber}}</td>
  <td class="t-align-c toggle-shipping">
    {{#if isShippingShow}}
      <i class="fa fa-check {{classes 'addressBook.td.shipping.icon'}}"></i>
    {{/if}}
  </td>
  <td class="t-align-c toggle-billing">
    {{#if isBillingShow}}
    <i class="fa fa-check {{classes 'addressBook.td.billing.icon'}}"></i>
    {{/if}}
  </td>
  <td class="t-align-c actions-field address_book_list_action">
  <div class="dropdown dropdown-wrap dropdown-action-wrap">
      <i class="fa fa-ellipsis-v td-action-dropdown {{classes 'addressBook.td.action.icon'}}"></i>
      <ul class="dropdown-menu {{classes 'addressBook.td.action.container'}}">
          <li class="button button--small edit-address {{classes 'addressBook.td.action.item'}}" data-id='{{addressId}}' data-address='{{address}}' data-edit-address>{{text 'address.actions.edit'}}</li>
          {{#if isDefaultBillingShow}}
          <li class="button button--small dropdown-menu-item {{classes 'addressBook.td.action.item'}}" data-id='{{addressId}}' data-address='{{address}}' data-set-billing>{{text 'address.actions.default.billing'}}</li>
          {{/if}}
          {{#if isDefaultShippingShow}}
          <li class="button button--small dropdown-menu-item {{classes 'addressBook.td.action.item'}}" data-id='{{addressId}}' data-address='{{address}}' data-set-shipping>{{text 'address.actions.default.shipping'}}</li>
          {{/if}}
          <li class="button button--small dropdown-menu-item {{classes 'addressBook.td.action.item'}}" data-id='{{addressId}}' data-delete-address>{{text 'address.actions.delete'}}</li>
      </ul>
  </div>
  </td></tr>
{{/addresses}}
