<div class="modal-header {{classes 'addressBook.modal.header'}}">
  <h2 class="modal-header-title {{classes 'addressBook.modal.header.title'}}">{{title}}</h2>
  <a href="javascript:void(0);" class="modal-close {{classes 'addressBook.modal.header.close'}}" role="button">
    &#215;
  </a>
</div>
<div class="modal-body {{classes 'addressBook.modal.form.checkbox.container'}}">
  <form class="form" action="" autocomplete="off" method="post">
    <fieldset class="form-fieldset">
      <div class="form-field">
        <input type="checkbox" data-field="isShipping" id="new_is_shipping" name="new_is_shipping" {{formFields.isShipping.checked}}>
        <label class="{{classes 'addressBook.modal.form.checkbox.label'}}" for="new_is_shipping">{{ text 'address.formModal.shipping.label' }}</label>
        <div class="children_checkbox hide">
          <input type="checkbox" name="new_is_default_shipping" id="new_is_default_shipping" data-field="isDefaultShipping" {{formFields.isDefaultShipping.checked}}>
          <label class="{{classes 'addressBook.modal.form.checkbox.label'}}" for="new_is_default_shipping">{{ text 'address.formModal.defaultShipping.label' }}</label>
        </div>
      </div>
      <div class="form-field">
        <input type="checkbox" id="new_is_billing" name="new_is_billing"  data-field="isBilling" {{formFields.isBilling.checked}}>
        <label class="{{classes 'addressBook.modal.form.checkbox.label'}}" for="new_is_billing">{{ text 'address.formModal.billing.label' }}</label>
        <div class="children_checkbox">
          <input type="checkbox" name="new_is_default_billing" id="new_is_default_billing" data-field="isDefaultBilling" {{formFields.isDefaultBilling.checked}}>
          <label class="{{classes 'addressBook.modal.form.checkbox.label'}}" for="new_is_default_billing">{{ text 'address.formModal.defaultBilling.label' }}</label>
        </div>
      </div>
      <div class="form-field {{classes 'addressBook.modal.form.item.container'}}">
        <label class="form-label" for="address_label">{{ text 'address.formModal.addressLabel.label' }}</label>
        <input class="form-input {{classes 'addressBook.modal.form.item.input'}}" type="text" name="address_label" id="address_label" data-field="label" value="{{formFields.label.value}}">
      </div>
      <div class="form-field {{classes 'addressBook.modal.form.item.container'}}">
        <label class="form-label {{classes 'addressBook.modal.form.item.label'}}" for="new_first_name">
          {{ text 'global.user.firstName.label' }}
          <small class="{{classes 'addressBook.modal.form.item.required'}}">{{ text 'global.required.label' }}</small>
        </label>
        <input class="form-input {{classes 'addressBook.modal.form.item.input'}}" type="text" name="first_name" id="new_first_name" data-field="firstName" value="{{formFields.firstName.value}}">
      </div>
      <div class="form-field {{classes 'addressBook.modal.form.item.container'}}">
        <label class="form-label {{classes 'addressBook.modal.form.item.label'}}" for="new_last_name">
          {{ text 'address.formModal.lastName.label' }}
          <small class="{{classes 'addressBook.modal.form.item.required'}}">{{ text 'global.required.label' }}</small>
        </label>
        <input class="form-input {{classes 'addressBook.modal.form.item.input'}}" type="text" name="last_name" id="new_last_name"  data-field="lastName" value="{{formFields.lastName.value}}">
      </div>
      <div class="form-field {{classes 'addressBook.modal.form.item.container'}}">
        <label class="form-label {{classes 'addressBook.modal.form.item.label'}}" for="new_address_line1">
          {{ text 'global.user.address1.label' }}
          <small class="{{classes 'addressBook.modal.form.item.required'}}">{{ text 'global.required.label' }}</small>
        </label>
        <input class="form-input {{classes 'addressBook.modal.form.item.input'}}" type="text" name="address_line1" id="new_address_line1" data-field="addressLine1" value="{{formFields.addressLine1.value}}">
      </div>
      <div class="form-field {{classes 'addressBook.modal.form.item.container'}}">
        <label class="form-label {{classes 'addressBook.modal.form.item.label'}}" for="new_address_line2">{{ text 'global.user.address2.label' }}</label>
        <input class="form-input {{classes 'addressBook.modal.form.item.input'}}" type="text" name="address_line2" id="new_address_line2" data-field="addressLine2" value="{{formFields.addressLine2.value}}">
      </div>
      <div class="form-field {{classes 'addressBook.modal.form.item.container'}}">
        <label class="form-label {{classes 'addressBook.modal.form.item.label'}}" for="new_city">
          {{ text 'global.user.city.label' }}
          <small class="{{classes 'addressBook.modal.form.item.required'}}">{{ text 'global.required.label' }}</small>
        </label>
        <input class="form-input {{classes 'addressBook.modal.form.item.input'}}" type="text" name="city" id="new_city"  data-field="city"  value="{{formFields.city.value}}">
      </div>
      <div class="form-field {{classes 'addressBook.modal.form.item.container'}}">
        <label class="form-label {{classes 'addressBook.modal.form.item.label'}}" for="new_country">
          {{ text 'address.formModal.country.label' }}
          <small class="{{classes 'addressBook.modal.form.item.required'}}">{{ text 'global.required.label' }}</small>
        </label>
        <select class="form-select {{classes 'addressBook.modal.form.item.select'}}" name="country" id="new_country"  data-field="country" value="{{formFields.country.countryName}}">
          <option value="">{{ text 'address.formModal.country.palceholder' }}</option>
          {{#countries}}
          <option {{selected}} value="{{countryName}}" data-country='{{countryData}}' data-states='{{countryData}}'>{{countryName}}</option>
          {{/countries}}
        </select>
      </div>
      <div class="form-field {{classes 'addressBook.modal.form.item.container'}}">
        <label class="form-label {{classes 'addressBook.modal.form.item.label'}}" for="new_zipcode">
          {{ text 'global.user.zipcode.label' }}
          <small class="{{classes 'addressBook.modal.form.item.required'}}">{{ text 'global.required.label' }}</small>
        </label>
        <input class="form-input {{classes 'addressBook.modal.form.item.input'}}" type="text" name="zipcode" id="new_zipcode" data-field="zipCode" value="{{formFields.zipCode.value}}">
      </div>
      <div class="form-field {{classes 'addressBook.modal.form.item.container'}}">
        <label class="form-label {{classes 'addressBook.modal.form.item.label'}}" for="new_state">
          {{ text 'global.user.state.label' }}
          <small class="{{classes 'addressBook.modal.form.item.required'}}">{{ text 'global.required.label' }}</small>
        </label>

        <input class="form-input {{classes 'addressBook.modal.form.item.input'}}" name="state_input" class="state_input" id="new_state_input" type="text" data-field="state" value="{{formFields.state.stateName}}">

        <select class="form-select state_select hide {{classes 'addressBook.modal.form.item.select'}}" name="state_select" id="new_state_select" data-field="state" value="{{formFields.state.stateName}}">
          <option value="">{{ text 'address.formModal.state.palceholder' }}</option>
        </select>

      </div>
      <div class="form-field {{classes 'addressBook.modal.form.item.container'}}">
        <label class="form-label {{classes 'addressBook.modal.form.item.label'}}" for="new_phone_number">{{ text 'global.user.phone.label' }}</label>
        <input class="form-input {{classes 'addressBook.modal.form.item.input'}}" type="text" name="phone_number" id="new_phone_number" data-field="phoneNumber" value="{{formFields.phoneNumber.value}}">
      </div>
      <div class="form-actions {{classes 'addressBook.modal.form.button.container'}}">
        <input type="button" class="button button--primary {{classes 'addressBook.modal.form.button.save'}}" value="{{text 'address.save.button'}}" id="save_new_address">
        <a href="javascript:void(0);" class="button modal-close modal-close--button {{classes 'addressBook.modal.form.button.cancel'}}">{{text 'address.cancel.button'}}</a>
      </div>
    </fieldset>
  </form>
</div>
