.index-search-top{
    position: relative;
    z-index: 100;
}
.main-nav {
    position: absolute;
    width: 12.5rem;
    top:100%;
    z-index: 100;
}

.main-nav ul {
    margin: 0;
}

.main-nav ul li.dropdown .menu {
    font-size: 12px;
    font-family: "\5b8b\4f53";
}

.main-nav ul li.dropdown .menu a {
    font-size: 12px;
    display: inline;
    color: #252525;
}

.main-nav ul li.dropdown .menu a:hover,
.main-nav ul li.dropdown .menu a.active {
    text-decoration: none;
    background: none;
}

.main-nav ul li.dropdown .main-menu {
    z-index: 100;
    max-height: 560px;
    margin: 0;
    padding: 0;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.main-nav ul li.dropdown .main-menu dl {
    display: flex;
    height: 30px;
    width: 278px;
    line-height: 30px;
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    background: #f6f6f6 url(./resource/images/arr.gif) no-repeat 260px 2px;
    margin: 0;
}

.main-nav ul li.dropdown .main-menu dl.active-menu {
    background: #f6f6f6 url(./resource/images/arr.gif) no-repeat 260px -46px;
    border-right: 1px solid #fff;
}

.main-nav ul li.dropdown .main-menu dl dt {
    font-weight: bold;
    color: #000;
    line-height: 30px;
    float: left;
}

.main-nav ul li.dropdown .main-menu dl dd {
    float: left;
    font-size: 12px;
    line-height: 30px;
    overflow: hidden;
    cursor: pointer;
}

.main-nav ul li.dropdown .main-menu dl dd a {
    display: inline-block;
    margin-right: 30px;
    white-space: nowrap;
    color: #252525;
}

.main-nav ul li.dropdown .main-menu dl dd a:hover {
    color: #f50;
}

.main-nav ul li.dropdown .main-menu dl.last-child {
    border-bottom: 0;
}

.main-nav ul li.dropdown .sub-menu {
    z-index: 10;
    top: 0;
    border: 1px solid #e0e0e0;
    padding: 20px;
    width: 680px;
    background: #ffffff;
    margin: 0;
    margin-left: -1px;
}

.main-nav ul li.dropdown .sub-menu .item {
    width: 680px;
}

.main-nav ul li.dropdown .sub-menu .item dl {
    padding: 5px 0;
    border-bottom: 1px dotted #ccc;
    margin: 0;
}

.main-nav ul li.dropdown .sub-menu .item dl.last-child {
    border-bottom: 0;
}

.main-nav ul li.dropdown .sub-menu .item dt {
    font-weight: bold;
    float: left;
    overflow: hidden;
    width: 80px;
    text-align: right;
    line-height: 35px;
}

.main-nav ul li.dropdown .sub-menu .item dt a {
    color: #f60;
}

.main-nav ul li.dropdown .sub-menu .item dd {
    margin-left: 90px;
    text-align: left;
    line-height: 35px;
}

.main-nav ul li.dropdown .sub-menu .item a {
    line-height: 28px;
    display: inline-block;
    height: 28px;
    margin-right: 5px;
    white-space: nowrap;
}

.main-nav ul li.dropdown .sub-menu .item a:hover {
    color: #f50;
}