<div class="table-wrap">
  <table class="responsive-table user-management-table table-active-user" id="user_management_table">
      <thead>
        <tr>
          <th>{{text 'global.user.name.label'}}</th>
          <th>{{text 'global.user.email.label'}}</th>
          <th>{{text 'global.user.role.label'}}</th>
          {{#if showAction}}
          <th class="t-align-c">{{text 'user.thead.action'}}</th>
          {{/if}}
      </tr>
      </thead>
    <tbody>
        {{#each userLists}}
        <tr data-user='{{item}}'>
          <td>{{firstName}} {{lastName}}</td>
          <td>{{email}}</td>
          <td>{{roleName}}</td>

          <td class="actions-field t-align-c flex-center {{classes 'userManagement.td.actions.container'}}" >
            {{#if ../showAction}}
              <a href="#" data-reveal-id="modal-user-management-edit-form" class="button button--primary button--small {{classes 'userManagement.td.button.edit'}}" data-edit-user
              data-email={{email}}
              data-first-name={{firstName}}
              data-last-name={{lastName}}
              data-user-id={{id}}
              data-phone="{{phoneNumber}}"
              data-role={{role}}
              >{{text 'user.form.edit.button'}}</a>
              <span class="actions-split">|</span>
              <a href="javascript:void(0);" data-delete-user class="button button--small {{classes 'userManagement.td.button.delete'}}" data-user-id={{id}}>{{text 'user.form.delete.button'}}</a>
              {{/if}}
          </td>

        </tr>
        {{/each}}


    </tbody>
  </table>
</div>

<div class="table-toolbar">
  <div class="number-items {{classes 'userManagement.unit.container'}}">
    <span class="{{classes 'userManagement.unit.num'}}" id="num_items">{{userLists.length}}</span> {{text 'global.toolbar.unit'}} 
  </div>
</div>
