<div>
  <div class="b2b-wrap {{classes 'b2bWrap'}} {{classes 'UserManagement'}}">
    <div class="title-wrap title-wrap--alt">
      <h2 class="page-title">{{text 'user.list.title'}}</h2>
    </div>
    <div id="table-container"></div>
    <ul class="pagination-list" id="B3pagination"></ul>
    <div class="table-toolbar">
      {{#if showAddBtn}}
      <div
        class="toolbar-actions {{classes 'userManagement.button.container'}}"
      >
        <a
          href="#"
          class="button button--primary {{classes 'userManagement.button.addNew'}}"
          data-reveal-id="modal-user-management-new-form"
          data-click="resetForm"
          >{{text 'user.form.add.button'}}</a
        >
      </div>
      {{/if}}
    </div>
  </div>
  <div id="edit-user-container"></div>
  <div
    id="modal-user-management-new-form"
    class="modal modal--small {{classes 'UserManagement'}}"
    data-reveal
  >
    <div
      class="modal-header {{classes 'userManagement.modal.header.container'}}"
    >
      {{#if showAddBtn}}
      <h2
        class="modal-header-title {{classes 'userManagement.modal.header.title'}}"
      >
        {{text 'user.form.add.button'}}
      </h2>
      <a
        href="#"
        class="modal-close {{classes 'userManagement.modal.header.close'}}"
        aria-label="close"
        role="button"
      >
        <span aria-hidden="true">&#215;</span>
      </a>
      {{/if}}
    </div>
    <div class="modal-body {{classes 'userManagement.modal.body'}}">
      <form class="form" action="" autocomplete="off" method="post">
        <fieldset
          class="form-fieldset {{classes 'userManagement.modal.form.container'}}"
        >
          <div class="form-field {{classes 'userManagement.modal.form.item.container'}}">
            <label class="form-label {{classes 'userManagement..modalform.item.label'}}" for="role_id">
              {{text 'user.form.role.label'}}
              <small class="{{classes 'userManagement..modalform.item.required'}}">{{text 'global.required.label'}}</small>
            </label>
            <select class="form-select {{classes 'userManagement..modalform.item.select'}}" name="role_id" id="role_id">
              <option value="0">{{text 'global.user.admin.label'}}</option>
              <option value="1">{{text 'global.user.senior.label'}}</option>
              <option value="2">{{text 'global.user.junior.label'}}</option>
            </select>
          </div>
          <div class="form-field {{classes 'userManagement.modal.form.item.container'}}">
            <label class="form-label {{classes 'userManagement..modalform.item.label'}}" for="email">
              {{text 'global.user.email.label'}}
              <small class="{{classes 'userManagement..modalform.item.required'}}">{{text 'global.required.label'}}</small>
            </label>
            <input class="form-input {{classes 'userManagement..modalform.item.input'}}" type="text" name="email" id="email" />
          </div>
          <div class="form-field">
            <label class="form-label {{classes 'userManagement..modalform.item.label'}}" for="first_name">
              {{text 'global.user.firstName.label'}}
              <small class="{{classes 'userManagement..modalform.item.required'}}">{{text 'global.required.label'}}</small>
            </label>
            <input
              class="form-input {{classes 'userManagement.modal.form.item.input'}}"
              name="first_name"
              id="first_name"
              type="text"
            />
          </div>
          <div class="form-field {{classes 'userManagement.modal.form.item.container'}}">
            <label class="form-label {{classes 'userManagement..modalform.item.label'}}" for="last_name">
              {{text 'global.user.lastName.label'}}
              <small class="{{classes 'userManagement..modalform.item.required'}}">{{text 'global.required.label'}}</small>
            </label>
            <input
              class="form-input {{classes 'userManagement.modal.form.item.input'}}"
              type="text"
              name="last_name"
              id="last_name"
            />
          </div>
          <div class="form-field {{classes 'userManagement.modal.form.item.container'}}">
            <label class="form-label {{classes 'userManagement..modalform.item.label'}}" for="phone">
              {{text 'global.user.phone.label'}}
            </label>
            <input class="form-input {{classes 'userManagement..modalform.item.input'}}" type="text" name="phone" id="phone" />
          </div>
          <div class="form-actions {{classes 'userManagement.modal.form.button.container'}}">
            <input
              type="button"
              class="button button--primary {{classes 'userManagement.modal.form.button.save'}}"
              value="{{text 'user.form.save.button'}}"
              id="save_new_user"
            />

            <a
              href="#"
              class="button modal-close modal-close--button b3cacel-btn {{classes 'userManagement.modal.form.button.cancel'}}"
              >{{text 'user.form.cancel.button'}}</a
            >
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
