<div class="form-field" data-product-attribute="input-file">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="{{../id}}attribute_file_{{id}}">
        {{ this.display_name }}:

        {{#if required}}
            <small>{{text 'global.required.label'}}</small>
        {{/if}}
    </label>

    <input class="form-file" type="file" id="{{../id}}attribute_file_{{id}}" name="attribute[{{this.id}}]" {{#if required}}{{text 'global.required.label'}}{{/if}}>
    {{#if original_name}}
        Currently: <a href=\"{{file_url}}\" target=\"_blank\">{{original_name}}</a>
        <label>Remove this file<input type="checkbox" name="{{file_remove}}"></label>
    {{/if}}
    <p class="form-fileDescription">{{#if file_size}}Maximum file size is <strong>{{file_size}}</strong>, {{/if}}{{#if file_types}}file types are <strong>{{file_types}}</strong>{{/if}}</p>

</div>
