<div class="form-field" data-product-attribute="input-text">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="{{../id}}attribute_text_{{id}}">
        {{ this.display_name }}:

        {{#if required}}
            <small>{{text 'global.required.label'}}</small>
        {{/if}}
    </label>

    <input data-label-name="{{ this.display_name }}" class="form-input form-input--small" type="text" id="{{../id}}attribute_text_{{id}}" name="attribute[{{this.id}}]" value="{{this.prefill}}" {{#if required}}{{text 'global.required.label'}}{{/if}}>
</div>
