<div class="form-field" data-product-attribute="textarea">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="{{../id}}attribute_textarea_{{id}}">
        {{display_name}}:

        {{#if required}}
            <small>{{text 'global.required.label'}}</small>
        {{/if}}
    </label>

    <textarea  data-label-name="{{ this.display_name }}" class="form-input" id="{{../id}}attribute_textarea_{{id}}" name="attribute[{{id}}]" {{#if required}}{{text 'global.required.label'}}{{/if}}>{{prefill}}</textarea>
</div>
