.total {
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.list {
    background: #fff;
    margin-bottom: 0.5rem;
    font-size: 0.26rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Medium;
    font-weight: 500;
    color: #616161;
}

.list>div {
    width: 100%;
    line-height: 0.8rem;
    height: 0.8rem;
    display: flex;
    background: #F6F5F5;
    justify-content: space-around;
    margin: 0.2rem 0;
}

.list>div:nth-child(1) {
    margin-top: 0;
}

.list>div:last-of-type {
    margin: 0
}

.showMore {
    width: 40%;
    height: 1ren;
    height: 0.7rem;
    margin: auto;
    text-align: center;
    line-height: 0.7rem;
    background: #e0e0e0;
    border-radius: 1.1rem;
    font-size: 0.26rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Medium;
    font-weight: 500;
    color: #616161;
}

.img {
    width: 100%;
}

.swiper {
    margin-top: 1rem;
}

