.page {
    margin-top: 1rem;
}

.module {
    margin: 0.3rem;
}

.icon {
    display: flex;
}

.icon-1 {
    width: 0.009rem;
    height: 0.38rem;
    opacity: 1;
    background: #4d85d3;
    border: 0.04rem solid #4d85d3;
    border-radius: 0.2rem;
    margin-right: 0.1rem;
}

.icon-2 {

    width: 0.009rem;
    height: 0.38rem;
    opacity: 1;
    background: #95beec;
    border: 0.04rem solid #95beec;
    border-radius: 0.2rem;


}

.icon>div:nth-of-type(3) {
    opacity: 1;
    font-size: 0.36rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Medium;
    font-weight: 500;
    /* text-align: left; */
    color: #629cdb;
    margin-left: 0.3rem;
}

.tab {
    width: 100%;
}

.row {
    display: flex;
    margin-bottom: 0.4rem;
}

.van-tabs__wrap {
    width: 50%;
    ;
}

.row-1 .van-cell.van-cell--clickable.van-field {
    border: 1px solid #77ace0;
    border-radius: 0.15rem;
    margin-right: 0.9rem;

}

.row-2 .van-cell.van-cell--clickable.van-field {
    border: 1px solid #77ace0;
    border-radius: 0.15rem;
    margin-right: 0.9rem;
}

.tab {
    /* background: #F6F5F5; */
    width: 109%;
    margin-left: -0.3rem;
    border-radius: 0.5rem;
}

::v-deep .van-tabs__nav--line {
    /* background: #F6F5F5; */
}

::v-deep .van-tabs__content {
    margin: 0.3rem;
    padding-bottom: 0.3rem;
}

::v-deep .van-tabs__nav--line {
    border-radius: 0.5rem;
}
.row-2 .van-cell {
    background-color: #4a96ec;
}
::v-deep .van-tabs__line {
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 3px;
    background-color: #629cdb;
    border-radius: 3px;
}