.out {
    width: 2rem;
    height: 0.5rem;
    background-color: pink;
    margin: 2rem;
    position: absolute;
    top: 2.7rem;
    left: 3.4rem;
    display:none;
}

.out::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: pink;
    transform: rotate(
45deg
);
    left: 57%;
    top: 0.2rem;

}
.o-u {
    width: 2rem;
    height: 0.5rem;
    background-color: pink;
    margin: 2rem;
    position: absolute;
    top: 4rem;
    left: 3.4rem;
    display:none;
}

.o-u::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: pink;
    transform: rotate(
45deg
);
    left: 57%;
    top: 0.2rem;

}
