.slider-panel {
    /* background-color: #fcc688;
    height: 450px;
    width: 600px;
    padding: 20px; */
    margin: auto;
}

.slider-panel .slider-box {
    background-color: darkgray;
    /* margin-top: 40px; */
    display: inline-block;
    width: 4rem;
    height: 0.2rem;
    position: relative;
    border-radius: 5px;
}

/* 滑条划过的宽度，默认值为0 */
.slider-panel .slider-box .slider-value {
    background-image: linear-gradient(
90deg
, #0005e7 0%, #1a76ee 52%);
    height: 0.2rem;
    width: 0;
    border-radius: 5px;
}

/* 滑条的样式。默认透明 */
.slider-panel input {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-appearance: none;
    -ms-appearance: none;
    background: transparent;
    width: 305px;
    height: 2px;
    outline: none;
}

/* 圆形滑块的样式 */
.slider-panel input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background-color: #eaecee;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 #212B35;
    background: #4BBEEC;
    border: 2px solid #FFFFFF;
}