.header {
	position: relative;
}

// header-select顶部下拉框

.header-select{
	
	.select-drop {
		position: absolute;
		right: 4%;
		top: 7%;
	}
	.selected {
		opacity: 1;
		background: #ffffff;
		border-radius: 0.5rem;
		box-shadow: 0rem 0.06rem 0.12rem 0rem rgba(0, 0, 0, 0.16);
		text-align: center;
		opacity: 1;
		font-size: 0.26rem;
		// font-family: .PingFang SC, .PingFang SC-Medium;
		font-weight: 500;
		color: #313131;
		padding:0.1rem 0.2rem; 
		
	}
	.selected img {
		width: 0.14rem;
		height: 0.1rem;
		opacity: 1;
		/* float: left; */
		padding-left: 0.1rem;
	}
	.headerSelect-list {
		text-align: center;
		height: 0rem;
		transition: all 0.5s linear;
		overflow: hidden;
		margin-top: 0.1rem;
		background: #fff;
		border-radius: 0.1rem 0.1rem 0.2rem 0.2rem;
		font-size: 0.26rem;
		overflow-y: auto;
	}
	.headerSelect-list>div {
		margin-top: 0.1rem;
	}
	.show {
		height: 1.5rem;
	}
	
}


// select-card

.select-card{
	width: 7rem;
	height: 1rem;
	background-color: #fff;
	border-radius: 0.3rem;
	margin:auto;
	margin-top:-0.5rem;
	box-shadow: 2px 2px 0.2rem #33333359;
	display: flex;
	position: relative;
	z-index: 1;
	line-height: 1rem;
	justify-content: space-around;
	padding: 0 1rem;
	box-sizing: border-box;
	.title{
		
	}
	.select-province{
		.select-drop {
			// position: absolute;
			right: 4%;
			top: 7%;
		}
		.selected {
			text-align: center;
			opacity: 1;
			font-size: 0.26rem;
			font-weight: 500;
			color: #313131;
			width: 1rem;
		}
		.selected img {
			width: 0.14rem;
			height: 0.1rem;
			opacity: 1;
			padding-left: 0.3rem;
		}
		.province-list {
			text-align: center;
			height: 0rem;
			transition: all 0.3s linear;
			overflow: hidden;
			margin-top: 0.1rem;
			background: #fff;
			border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
			font-size: 0.26rem;
			overflow-y: auto;
		}
		.province-list>div {
			// margin-top: 0.1rem;
			height: 0.5rem;
		}
		.show {
			height: 1.5rem;
		}
	}
	.select-city{
		.select-drop {
			// position: absolute;
			right: 4%;
			top: 7%;
		}
		.selected {
			text-align: center;
			opacity: 1;
			font-size: 0.26rem;
			font-weight: 500;
			color: #313131;
			width: 1rem;
		}
		.selected img {
			width: 0.14rem;
			height: 0.1rem;
			opacity: 1;
			padding-left: 0.3rem;
		}
		.city-list {
			text-align: center;
			height: 0rem;
			transition: all 0.5s linear;
			overflow: hidden;
			margin-top: 0.1rem;
			background: #fff;
			border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
			font-size: 0.26rem;
			overflow-y: auto;
		}
		.city-list>div {
			height: 0.5rem;
		}
		.show {
			height: 1.5rem;
		}
	}
}

// main
.main {
	margin:0.3rem;
	
}
.news{	
	.title{
		img{
			width: 0.22rem;
			height: 0.32rem;
			opacity: 1;
		}
		span{
			width: 1.42rem;
			height: 0.34rem;
			opacity: 1;
			font-size: 0.36rem;
			font-family: PingFang SC Bold, PingFang SC Bold-Bold;
			font-weight: 700;
			text-align: left;
			color: #000000;
			line-height: 0.77rem;
			margin-left: 0.1rem;
		}
	}
	.info{
			background-color: #fff;
			border-radius: 0.3rem;
			margin:auto;
			display: flex;
			justify-content: space-around;
			padding: 0 0.3rem;
			box-sizing: border-box;
			width: 6.74rem;
			opacity: 1;
			background: #f5f3fe;
			border-radius: 0.2rem;
			padding: 0.1rem 0;
		img{
			width: 0.35rem;
			height: 0.42rem;
			opacity: 1;
			margin-top: 0.15rem;
		}
		span{
			opacity: 1;
			font-size: 0.28rem;
			font-family: PingFang SC Bold, PingFang SC Bold-Bold;
			font-weight: 700;
			text-align: left;
			color: #5095dd;
			line-height: 0.77rem;
			margin-left: -0.6rem;
		}
	}
}
// 组件
.wuc-tab{
	text-align: center;
}
::v-deep .wuc-tab-item{
	padding: 0;
	margin: 0 56px;
	opacity: 1;
	font-size: 0.3rem;
	font-family: PingFang SC Medium, PingFang SC Medium-Medium;
	font-weight: 500;
	color: #000000;
}

::v-deep .wuc-tab-item.cur{
	opacity: 1;
	font-size: 0.3rem;
	font-family: PingFang SC Bold, PingFang SC Bold-Bold;
	font-weight: 700;
	color: #5095dd;
}
::v-deep uni-swiper{
	// height: 35rem;
}
::v-deep uni-swiper-item{
	// overflow: initial;
	// overflow-x: hidden;
	// width: 6.7rem !important;
}
::v-deep uni-swiper .uni-swiper-wrapper{
	// overflow: initial;
	// overflow-x: hidden;
}
::v-deep .uni-swiper-slide-frame{
	    // transform: translate(-107%, 0px) translateZ(0px) !important;
}
// subsidy
	.rotate{
		transform: rotate(90deg) !important;
	}
.subsidy-1{
	opacity: 1;
	background: #f5f3fe;
	border-radius: 0.2rem;
	margin-top: 0.3rem;
    padding: 0.3rem 0.4rem 0;
	box-sizing: border-box;
	overflow: hidden;

	.header{
			justify-content: space-between;
			display: flex;
			margin-bottom: 0.3rem;
			>img:last-of-type{
				width: 0.22rem;
				height: 0.32rem;
				opacity: 1;
				transform: rotate(-90deg);
				width: 0.15rem;
				height: 0.25rem;
				transition: transform 1s ease-in
			}
			div{
				img{
					width: 0.22rem;
					height: 0.32rem;
					opacity: 1;
					margin-right: 0.2rem;
				}
				p{
					display: inline-block;
					float: right;
					opacity: 1;
					font-size: 0.32rem;
					font-family: PingFang SC Bold, PingFang SC Bold-Bold;
					font-weight: 700;
					color: #000000;
					margin-top: -0.06rem;
				}
			}
	}
	.body{
		>div:nth-of-type(1){
			opacity: 1;
			font-size: 0.3rem;
			font-family: PingFang SC Medium, PingFang SC Medium-Medium;
			font-weight: 500;
			text-align: left;
			margin:0.2rem 0 0.1rem 0;
		}
		>div:nth-of-type(2){
			font-size: 0.28rem;
			font-family: PingFang SC Medium, PingFang SC Medium-Medium;
			font-weight: 500;
			color: #555555;
			padding-bottom: 0.3rem;
			border-bottom: 1px #E1E6F3 solid;
		}
		>div:nth-of-type(3){
			opacity: 1;
			font-size: 0.3rem;
			font-family: PingFang SC Medium, PingFang SC Medium-Medium;
			font-weight: 500;
			color: #000000;
			margin:0.3rem 0 0.1rem 0;
		}
		>div:nth-of-type(4){
			font-size: 0.28rem;
			font-family: PingFang SC Medium, PingFang SC Medium-Medium;
			font-weight: 500;
			color: #555555;
			padding-bottom: 0.3rem;
		}
		>div:nth-of-type(5){
			font-size: 0.28rem;
			font-family: PingFang SC Medium, PingFang SC Medium-Medium;
			font-weight: 500;
			color: #555555;
			padding-bottom: 0.3rem;
		}
	}
	.footer{
		display: flex;
		>div{
			width: 1.92rem;
			height: 0.7rem;
			line-height: 0.7rem;
			text-align: center;
			opacity: 1;
			background: #dae5f7;
			border-radius: 0.35rem;
			
			opacity: 1;
			font-size: 0.26rem;
			font-family: PingFang SC Bold, PingFang SC Bold-Bold;
			font-weight: 700;
			color: #5095dd;
			margin-right: 0.3rem;
			img{
				width: 0.25rem;
				height: 0.25rem;
				opacity: 1;
				margin-right: 0.1rem;
			}
		}
	}
	.line{
		width: 6.14rem;
		height: 0.02rem;
		opacity: 1;
		background: #e1e6f3;
		margin-bottom: 0.5rem;
	}
}
.subsidy-2{
	.header{
		margin:0.3rem 0;
		display: flex;
		img{
			width: 0.22rem;
			height: 0.32rem;
			opacity: 1;
		}
		p{
			opacity: 1;
			font-size: 0.36rem;
			font-family: PingFang SC Bold, PingFang SC Bold-Bold;
			font-weight: 700;
			color: #000000;
			float: left;
			margin: -0.1rem 0.2rem;
		}
	}
	.nav-btn{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		div{
			width: 3.06rem;
			height: 0.78rem;
			line-height: 0.78rem;
			text-align: center;
			opacity: 1;
			background: #dae5f7;
			border-radius: 0.39rem;
			margin-bottom: 0.3rem;
			color: #5095dd;
		}
	}
}
.subsidy-3{
		@extend .subsidy-1;
}

// score
.score{
	.header{
		margin:0.3rem 0;
		display: flex;
		img{
			width: 0.22rem;
			height: 0.32rem;
			opacity: 1;
		}
		p{
			opacity: 1;
			font-size: 0.36rem;
			font-family: PingFang SC Bold, PingFang SC Bold-Bold;
			font-weight: 700;
			color: #000000;
			float: left;
			margin: -0.1rem 0.2rem;
		}
	}
	.score-table{		
		opacity: 1;
		background: #f5f3fe;
		border-radius: 0.2rem;
		padding-bottom: 0.4rem;
		overflow: hidden;
		table{
			margin-top: 0.4rem;
			width: 100%;
			border-collapse: collapse;
			th{
				padding-bottom: 0.1rem;
				opacity: 1;
				font-size: 0.26rem;
				font-family: PingFang SC Medium, PingFang SC Medium-Medium;
				font-weight: 500;
				color: #999999;
				// border: 1px solid #000;
			}
			td{
				text-align: center;
				margin-top:0.2rem;
				padding: 0.1rem 0;
				// border: 1px solid;
			}
			tr{
			}
			tr>td:last-of-type{
				opacity: 1;
				font-size: 0.28rem;
				font-family: PingFang SC Medium, PingFang SC Medium-Medium;
				font-weight: 500;
				text-align: center;
				color: #5095dd;
			}
		}
	}
}
// .subsidy-3
.subsidy-4{
	@extend .subsidy-3;
	background-color: white;
	padding: 0.3rem 0;
	
	.body{
		background-color: #F5F3FE;
		/* box-sizing: border-box; */
		border-radius: 0.2rem;
		padding: 0.2rem;
		margin-bottom: 0.3rem;
	}
	.header>img:last-of-type{
		margin-right: 0.3rem;
	}
}
.footer-btn{
	position: fixed;
	display: flex;
	justify-content: space-around;
	width: 100%;
	position: relative;
	div{
		border-radius: 0.5rem;
		padding: 0.2rem 0.7rem;
		background-color: #5395de;
		color: white;
		font-size: 0.32rem;
	}
	div:first-of-type{
		padding: 0.2rem 1rem;
	}
	img{
		width: 0.3rem;
		height: 0.3rem;
		position: absolute;
		top: 36%;
		left: 18%;
	}
	span{
		position: absolute;
		top: 31%;
		left: 9%;
	}
}