<div
  class="b2b-wrap {{classes 'QuoteDetail'}} {{classes 'b2bWrap'}} {{classes 'quote.container'}}"
  id="b2b_wrap"
>
  <div class="b2b-head-flex {{classes 'quote.head.container'}}">
    <div
      class="b2b-head-left back-link {{classes 'quote.head.left.container'}}"
    >
      <a class="link" href="javascript:history.go(-1)">
        <i
          class="fa fa-arrow-circle-left {{classes 'quote.head.left.icon'}}"
        ></i>
        <span>
          {{#if backText}} {{text 'quotes.back.to.all'}} {{else}} {{text
          'quotes.back.to.edit'}} {{/if}}
        </span>
      </a>
    </div>
    <div class="quote-detail-actions {{classes 'quote.head.right.container'}}">
      {{#if hasQuoteId}}
          <a class="button button--primary button--small {{classes 'quote.button.print'}}" id="print_pdf" href="javascript:void(0);" data-click="printPDF" data-stop>
            <i class="fa fa-print {{classes 'quote.button.print.icon'}}" data-click="printPDF" data-stop></i>
          </a>
          <a class="button button--primary button--small {{classes 'quote.button.pdf'}}" id="export_pdf" href="javascript:void(0);" data-click="exportPDF" data-stop>
              <i class="fa fa-file-pdf-o {{classes 'quote.button.pdf.icon'}}" data-click="exportPDF" data-stop></i>
          </a>
          {{#if sendEmail}}
          <a class="button button--primary button--small {{classes 'quote.button.email'}}" id="send_email"  data-send-email href="javascript:void(0);" data-reveal-id="modal-quote-email-form">
            <i class="fa fa-envelope {{classes 'quote.button.email.icon'}}"></i>
          </a>
          {{/if}}
          {{#if showCheckout}}
          <a class="button button--small {{classes 'quote.button.publish'}}" href="javascript:void(0);" data-click="checkout">{{text 'quotes.action.checkout'}}</a>
          {{/if}}
        {{else}}
        <a class="button button--small {{classes 'quote.button.cancel'}}" id="cancel_create" href="/quote-list">{{text 'quote.cancel.button'}}</a>
          {{#if updateQuote}}
            <a class="button button--small {{classes 'quote.button.update'}}" id="update_quote" data-click="updateQuote" href="javascript:void(0);">{{text 'quote.update.button'}}</a>
          {{/if}}
          {{#if saveDrafBtn}}
          <a class="button button--small {{classes 'quote.button.saveDraft'}}" id="save_draft" href="javascript:void(0);" data-click='saveDraft'>{{text 'quote.save.as.draft.button'}}</a>
          {{/if}}
          {{#if saveBtn}}
          <a class="button button--primary button--small {{classes 'quote.button.publish'}}" id="save" href="javascript:void(0);" data-click="publishQuote">{{text 'quote.approve.button'}}</a>
          {{/if}}
          {{#if publishDfrat}}
          <a class="button button--primary button--small {{classes 'quote.button.publish'}}" id="publish_dfrat" href="javascript:void(0);">{{text 'quote.approve.button'}}</a>
          {{/if}}
        {{/if}}
    </div>
  </div>
  {{#if showQuoteStatus}}
  <div
    id="draft-container"
    class="draft-container {{classes 'quote.draft.tag.container'}}"
  >
    <h3 class="{{classes 'quote.draft.tag'}}">{{stateName}}</h3>
  </div>
  {{/if}}
  <div class="quote-detail">
    <div class="quote-info" data-row="" style="display: block; clear: both;">
      <div class="addresses">
        <div class="item-container" id="store_address">
          <div>
            <h5 class="quote-item-title">
              {{storeName}}
            </h5>

            <div class="quote-item">
              <span>{{{br storeAddress}}}</span>
            </div>

          </div>
        </div>
        <div class="item-container" id="company_addressed">
          <div>
            <h5 class="quote-item-title">
              {{companyName}}
            </h5>
            {{#if label}}
            <div class="quote-item">
              <span>{{label}}</span>
            </div>
            {{else if addressInfo.label}}
              <div class="quote-item">
                <span>{{addressInfo.label}}</span>
              </div>
            {{/if}}
            {{#if addressInfo.companyCountry}}
            <div class="quote-item">
              <span>{{addressInfo.companyCountry}}</span>
            </div>
            {{/if}}
            {{#if addressInfo.firstName}}
              <div class="quote-item">
                <span>{{addressInfo.firstName}}</span> &nbsp;
                <span>{{addressInfo.lastName}}</span>
              </div>
            {{/if}}
            {{#if addressInfo.phoneNumber}}
            <div class="quote-item">
              <span>{{addressInfo.phoneNumber}}</span>
            </div>
            {{/if}}
            {{#if addressInfo.companyAddress}}
            <div class="quote-item">
              <span>{{addressInfo.companyAddress}}</span>
            </div>
            {{/if}}
            <div class="quote-item">
              {{#if addressInfo.companyState}}
              <span>{{addressInfo.companyState}}, </span>
              {{/if}}
              {{#if addressInfo.companyCity}}
              <span class="">{{addressInfo.companyCity}}, </span>
              {{/if}}
              {{#if addressInfo.companyZipCode}}
              <span class="">{{addressInfo.companyZipCode}}</span>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="quote_info float-right" id="quote_info">
        <div class="item-container">
          <h5 class="quote-item-title">
            {{text 'quote.referenceNumber.label'}} {{referenceNumber}}
          </h5>
          {{#if description}}
          <div class="quote-item">
            <span>{{description}}</span>
          </div>
          {{/if}}

          {{#if createdAt}}
          <div class="quote-item">
            <span>{{text 'quote.issued.on'}}</span>
            <span>{{displayFormat createdAt}}</span>
          </div>
          {{/if}}
          <div class="quote-item">
            <span>{{text 'quote.expired.date'}}</span>
            <span>{{displayFormat expiredAt}}</span>
          </div>
        </div>
        <div class="seler_infor item-container">
          <div class="quote-item">{{text 'quote.sales.representative'}}</div>
          {{#if B3CompanyInfo.firstName  }}
          <div class="quote-item">
            <span>{{B3CompanyInfo.firstName}}</span>
            <span>{{B3CompanyInfo.lastName}}</span>
          </div>
          <div class="quote-item">
            <span>{{B3CompanyInfo.phoneNumber}}</span>
          </div>
          <div class="quote-item">
            <span>{{B3CompanyInfo.email}}</span>
          </div>
          {{else}}
          <div class="quote-item">
            <span>{{firstName}}</span>
            <span>{{lastName}}</span>
          </div>
          <div class="quote-item">
            <span>{{phoneNumber}}</span>
          </div>
          <div class="quote-item">
            <span>{{email}}</span>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="table-wrap">
      <table class="responsive-table quote-list-table" id="product_list_table">
        <thead>
          <tr>
            <th>{{ text 'quote.thead.product' }}</th>
            <th></th>
            <th>{{ text 'quote.thead.price' }}</th>
            <th class="t-align-c">{{ text 'quote.thead.discount' }}</th>
            <th class="t-align-c">{{ text 'quote.thead.newPrice' }}</th>
            <th class="t-align-c">{{ text 'quote.thead.quantity' }}</th>
            <th class="t-align-c">{{ text 'quote.thead.lineTotal' }}</th>
          </tr>
        </thead>
        <tbody>
          <!-- render product list by js -->
          {{#each productList}}
          <tr
            class="product-item-tr&quot;"
            data-item-row=""
            data-variant-id=""
            data-id="86-"
          >
            <td class="product-item-td product-item-img">
              <img
                class="cart-item-fixed-image"
                src="{{imageUrl}}"
                alt="{{productName}}"
                title="{{productName}}"
              />
            </td>
            <td class="product-item-td">
              <p>{{productName}}</p>
              <p>SKU: {{sku}}</p>
            </td>
            <td class="product-item-td product-item-price">
              {{basePrice}}
            </td>
            <td class="product-item-td product-item-discount">
              <label class="quote-inline-from-field" data-row="">
                {{discount}}%
              </label>
            </td>
            <td class="product-item-td product-item-new-price">
              <label class="quote-inline-from-field" data-row="">
                {{newPrice}}
              </label>
            </td>
            <td class="product-item-quantity">
              <label class="quote-inline-from-field">
                {{quantity}}
              </label>
            </td>
            <td class="product-item-line-total">
              <span class="line-total">{{totlePrice}}</span>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div id="quote_total">
      <div
        class="{{classes 'quote.checkInfo.wraper'}}"
        data-row=""
        data-row-end=""
      >
        <ul class="cart-totals {{classes 'quote.checkInfo.container'}}">
          <li class="cart-total {{classes 'quote.checkInfo.item.container'}}">
            <div
              class="cart-total-label {{classes 'quote.checkInfo.item.label'}}"
            >
              <strong>{{text 'quote.subtotal'}}</strong>
            </div>
            <div
              class="cart-total-value {{classes 'quote.checkInfo.item.value'}}"
              id="subtotal"
            >
              {{subtotalFomate}}
            </div>
          </li>
          <li class="cart-total {{classes 'quote.checkInfo.item.container'}}">
            <div
              class="cart-total-label {{classes 'quote.checkInfo.item.label'}}"
            >
              <strong>{{text 'quote.discount'}}</strong>
            </div>
            <div
              class="cart-total-value {{classes 'quote.checkInfo.item.value'}}"
              id="discount"
            >
              {{discountFomate}}
            </div>
          </li>
          <li class="cart-total {{classes 'quote.checkInfo.item.container'}}">
            <div
              class="cart-total-label {{classes 'quote.checkInfo.item.label'}}"
            >
              <strong>{{text 'quote.grandtotal'}}</strong>
            </div>
            <div
              class="cart-total-value {{classes 'quote.checkInfo.item.value'}}"
              id="grand_total"
            >
              {{grandTotalFomate}}
            </div>
          </li>
        </ul>
      </div>
    </div>
    {{#if additionalInfo}}
    <div id="additional_infor {{classes 'quote.additional.container'}}">
      <h2 class="{{classes 'quote.additional.title'}}">{{text 'quote.addtional.notes'}}</h2>
      <div classes="additional_desc {{classes 'quote.additional.text'}}">{{additionalInfo}}</div>
    </div>
    {{/if}}
  </div>
  <div class="quote-detail-actions {{classes 'quote.foot.container'}}">
    {{#if hasQuoteId}}
    <a
      class="button button--primary button--small {{classes 'quote.button.print'}}"
      id="print_pdf"
      href="javascript:void(0);"
      data-click="printPDF"
      data-stop
    >
      <i
        class="fa fa-print {{classes 'quote.button.print.icon'}}"
        data-click="printPDF"
        data-stop
      ></i>
    </a>
      <a class="button button--primary button--small {{classes 'quote.button.pdf'}}" id="export_pdf" href="javascript:void(0);" data-click="exportPDF" data-stop>
          <i class="fa fa-file-pdf-o {{classes 'quote.button.pdf.icon'}}" data-click="exportPDF" data-stop></i>
      </a>
      {{#if sendEmail}}
      <a class="button button--primary button--small {{classes 'quote.button.email'}}" id="send_email"  data-send-email href="javascript:void(0);" data-reveal-id="modal-quote-email-form">
        <i class="fa fa-envelope {{classes 'quote.button.email.icon'}}"></i>
      </a>
      {{/if}}
      {{#if showCheckout}}
      <a class="button button--small {{classes 'quote.button.publish'}}" href="javascript:void(0);" data-click="checkout">{{text 'quotes.action.checkout'}}</a>
      {{/if}}
    {{else}}
      <a class="button button--small {{classes 'quote.button.cancel'}}" id="cancel_create" href="/quote-list">{{text 'quote.cancel.button'}}</a>
      {{#if updateQuote}}
        <a class="button button--small {{classes 'quote.button.update'}}" data-click="updateQuote" id="update_quote" href="javascript:void(0);">{{text 'quote.update.button'}}</a>
      {{/if}}
      {{#if saveDrafBtn}}
        <a class="button button--small {{classes 'quote.button.saveDraft'}}" id="save_draft" href="javascript:void(0);" data-click='saveDraft'>{{text 'quote.save.as.draft.button'}}</a>
      {{/if}}
      {{#if saveBtn}}
        <a class="button button--primary button--small {{classes 'quote.button.publish'}}" id="save" href="javascript:void(0);" data-click="publishQuote">{{text 'quote.approve.button'}}</a>
      {{/if}}
      {{#if publishDfrat}}
        <a class="button button--primary button--small {{classes 'quote.button.publish'}}" id="publish_dfrat" href="javascript:void(0);">{{text 'quote.approve.button'}}</a>
      {{/if}}
    {{/if}}
  </div>

  <div
    id="modal-quote-email-form"
    class="modal modal--small {{classes 'b2bWrap'}}"
    data-reveal
  >
    <div class="modal-header {{classes 'quote.emailModal.header'}}">
      <h2 class="modal-header-title {{classes 'quote.emailModal.header.title'}}">{{text 'quote.sendEmailModal.title'}}</h2>
      <a
        href="javascript:void(0);"
        class="modal-close {{classes 'quote.emailModal.header.close'}}"
        aria-label="close"
        role="button"
      >
        <span aria-hidden="true">&#215;</span>
      </a>
    </div>
    <div class="modal-body">
      <div class="quote-email-container {{classes 'quote.emailModal.form.container'}}">
        <div class="quote-input">
          <span class="{{classes 'quote.emailModal.form.email.label'}}">{{text 'quote.sendEmailModal.address.label'}}</span>
          <div class="form-field" style="position: relative;">
            <input
              type="text"
              class="form-input {{classes 'quote.emailModal.form.email.input'}}"
              id="quote_eamil_input"
              placeholder="{{text 'quote.sendEmailModal.address.placeholder'}}"
            />
            <div class="err-tips"></div>
            <div class="email_select_btn" id="email_select_btn">
              <i
                class="fa fa-caret-down {{classes 'quote.emailModal.form.email.icon'}}"
                data-stop
                data-click="selectEmail"
              ></i>
            </div>
          </div>
        </div>

        <div class="quote-tips">
          {{ text 'quote.sendEmailModal.tip'}}
        </div>
        <div class="quote-actions-btn {{classes 'quote.emailModal.form.button.container'}}">
          <a
            href="javascript:void(0);"
            class="button modal-close modal-close--button {{classes 'quote.emailModal.form.button.cancel'}}"
            id="quote-cancel"
          >
            {{text 'quote.cancel.button'}}
          </a>
          <a
            href="javascript:void(0);"
            class="button button--primary {{classes 'quote.emailModal.form.button.send'}}"
            id="email-send-btn"
            data-click="sendEmail"
            disabled="{{sendEmailBtnDisabled}}"
          >
            {{text 'quote.send.button'}}
          </a>
        </div>
      </div>
    </div>
    <div class="select_email_container b2b-hide" id="select_email_container">
      <div class="modal-content">
        <div class="modal-header">
          <input
            type="text"
            class="form-input"
            id="address_search_input"
            placeholder="Search Email"
            data-change="searchEmail"
          />
          <button
            class="button button--primary button--search"
            type="button"
            id="email_search_btn"
            name="email_search_btn"
          >
            <i class="fa fa-angle-double-right"></i>
          </button>
          <a href="javascript:void(0);" class="modal_close">
            <span data-click="closeModle">×</span>
          </a>
        </div>
        <div class="modal-body"></div>

        <ul class="pagination-list" id="email-search-pagination"></ul>
      </div>
    </div>
  </div>
</div>
