/*******
处理 padding, margin 的通用样式
m-{size}  size: 0 xs sm md lg xl
m{d}-{size} d: (t:top) (r: right) (b: bottom) (l: left) (x: left & right) (y: top & bottom);

p-{size}  size: 0 xs sm md lg xl
p{d}-{size} d: (t:top) (r: right) (b: bottom) (l: left) (x: left & right) (y: top & bottom);

*********/

// 使用带前缀的变量名，避免与第三方样式库（如 element-plus）的全局变量冲突
$lm-spacing-types: (m: margin,
    p: padding,
);
$lm-spacing-direction: (t: top,
    r: right,
    b: bottom,
    l: left,
);
$lm-spacing-sizes: (0: 0,
    4: 4,
    8: 8,
    12: 12,
    16: 16,
    24: 24,
);
$lm-spacing-base-size: 1px;

@each $typeKey,
$type in $lm-spacing-types {

    @each $sizeKey,
    $size in $lm-spacing-sizes {

        // m-0 p-0
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size * $lm-spacing-base-size !important;
        }

        // mx-xs px-xs
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size * $lm-spacing-base-size !important;
            #{$type}-right: $size * $lm-spacing-base-size !important;
        }

        // my-sm my-lg
        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size * $lm-spacing-base-size !important;
            #{$type}-bottom: $size * $lm-spacing-base-size !important;
        }
    }

    @each $dirKey,
    $dir in $lm-spacing-direction {

        @each $sizeKey,
        $size in $lm-spacing-sizes {
            .#{$typeKey}#{$dirKey}-#{$sizeKey} {
                #{$type}-#{$dir}: $size * $lm-spacing-base-size !important;
            }
        }
    }
}