<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<script src="//unpkg.com/vue@2/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.15.13/lib/index.js"></script>
<style>
  @import url("//unpkg.com/element-ui@2.15.13/lib/theme-chalk/index.css");
</style>
<div id="app">
  <template>
    <div>
      <el-select ref="select" @change="aa" v-model="value1" multiple placeholder="请选择">
        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </div>
  </template>
</div>

<body>
  <script>
    var Main = {
      data() {
        return {
          options: [{
            value: '选项1',
            label: '黄金糕'
          }, {
            value: '选项2',
            label: '双皮奶'
          }, {
            value: '选项3',
            label: '蚵仔煎'
          }, {
            value: '选项4',
            label: '龙须面'
          }, {
            value: '选项5',
            label: '北京烤鸭'
          }],
          value1: ["选项2"],
        }
      },
      methods: {

      },
      mounted() {

      }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')

  </script>
</body>

</html>