/* 下拉框 */
.mod-select {
    border-left: 1px solid #9a9a9a;
}

.mod-select ul {
    padding: 0;
    border: #5296df solid 0.01rem;
    border-radius: 0.05rem;
    background-color: #5296df;
}

.mod-select li {
    list-style-type: none;
    font-size: 0.28rem;
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    color: #fff;
}

.select_label {
    font-size: 0.28rem;
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    color: #9a9a9a;
}

.select-2 {
}

.select-2 .select_label {
    background-color: #fff0;
}

.show {
    display: block;
}

.hidden {
    display: none;
}