<div class="b2b-wrap {{classes 'b2bWrap'}}" id="b2b_wrap">
  <div class="b2b-head-flex {{classes 'createQuote.head.container'}}">
      <h2 for="role_id" class="quote-title {{classes 'createQuote.head.title'}}">{{pageTitlePrefix}} Price Quote</h2>
      <div class="create-quote-actions {{classes 'createQuote.head.actions.container'}}">
          <a class="button button--small {{classes 'createQuote.head.button.cancel'}}"  href="/quote-list/">
          {{ text 'quote.cancel.button' }}
        </a>
          {{#unless fromEdit}}
          <a class="button button--primary button--small {{classes 'createQuote.head.button.draft'}}" id="save_draft" href="javascript:void(0);" data-click="saveDraft">{{text 'quote.save.as.draft.button'}}</a>
          {{/unless}}
          {{#if fromEdit}}
          <a class="button button--small {{classes 'createQuote.head.button.update'}}" id="update_quote" href="javascript:void(0);" data-click="updateQuote">{{text 'quote.update.button'}}</a>
          {{/if}}
          <a class="button button--primary button--small {{classes 'createQuote.head.button.preview'}}" id="create_new_quote_button" href="javascript:void(0);" data-click="preview">{{text 'quote.preview.button'}}</a>
      </div>
  </div>
  <div class="quote-infomation quote-box {{classes 'createQuote.body.container'}}">
      <div id="draft-container" class="draft-container"></div>
      <h3 class="{{classes 'createQuote.body.title'}}">{{ text 'quote.information.title' }}</h3>
      <label class="form-field {{classes 'createQuote.body.form.item.container'}}">
          <span class="form-label {{classes 'createQuote.body.form.item.label'}}">
            {{ text 'quote.form.company.label' }}
          </span>
          <span class="form-select form-select--small {{classes 'createQuote.body.form.item.select'}}" {{#if fromEdit}}disabled{{/if}} id="company_select_label" {{#unless fromEdit}}data-click="showCompanyList"{{/unless}} >{{companyName}}</span>
          <input type="text" class="form-select form-select--small" id="company_select" style="visibility: hidden;" value={{companyName}} {{#if fromEdit}}disabled{{/if}}>
      </label>
     <label class="form-field {{classes 'createQuote.body.form.item.container'}}" id="quote_address">
      </label>
      <label class="form-field {{classes 'createQuote.body.form.item.container'}}">
          <span class="form-label {{classes 'createQuote.body.form.item.label'}}">
            {{ text 'quote.form.referenceNumber.label' }}
          </span>
          <input class="form-input {{classes 'createQuote.body.form.item.input'}}" type="text" id="reference_number" value="{{referenceNumber}}" {{#if fromEdit}}disabled{{/if}}>
      </label>
      <label class="form-field {{classes 'createQuote.body.form.item.container'}}">
          <span class="form-label {{classes 'createQuote.body.form.item.label'}}">
            {{ text 'quote.form.title.label' }}
          </span>
          <input class="form-input {{classes 'createQuote.body.form.item.input'}}" type="text" id="quote_title" value="{{title}}">
      </label>
      <label class="form-field {{classes 'createQuote.body.form.item.container'}}">
          <span class="form-label {{classes 'createQuote.body.form.item.label'}}">
            {{ text 'quote.form.description.label' }}
          </span>
          <input class="form-input {{classes 'createQuote.body.form.item.input'}}" type="text" id="quote_description" value="{{description}}">
      </label>
      <label class="form-field {{classes 'createQuote.body.form.item.container'}}">
          <span class="form-label {{classes 'createQuote.body.form.item.label'}}">
            {{ text 'quote.form.expiredAt.label' }}
          </span>
          <input class="form-input {{classes 'createQuote.body.form.item.input'}}" type="text" id="quote_date" value="{{displayFormat expiredAt}}">
      </label>
  </div>
  <div class="quote-infomation quote-box">
      <h3 class="{{classes 'createQuote.body.search.title'}}">
        {{ text 'quote.form.search.btn' }}
      </h3>
      <label class="form-field {{classes 'createQuote.body.form.item.container'}}">
          <span class="form-label {{classes 'createQuote.body.search.label'}}">
            {{ text 'quote.form.search.label' }}
          </span>
          <div class="quote-search {{classes 'createQuote.body.search.container'}}">
            <input class="form-input {{classes 'createQuote.body.search.input'}}" type="text" id="quote_search_input" data-keyup="searchProduct" data-enter="true">
            <button class="button--search {{classes 'createQuote.body.search.button'}}" type="button" id="search_single_sku" name="search_single_sku" data-click="searchProduct"><i class="fa fa-search {{classes 'createQuote.body.search.button.icon'}}" data-click="searchProduct"></i></button>
          </div>
      </label>
      <div>
        <div id="search_resulte">
          <table class="search-product-table" id="product_search_result_table" product-search-result-table>
            <tbody>

            </tbody>
          </table>
        </div>
        <div class="alertMessageBox" hidden>
          <div class="alertBox alertBox--info">
              <div class="alertBox-column alertBox-icon">
                  <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
              </div>
              <p class="alertBox-column alertBox-message">
                  <span>todo</span>
              </p>
          </div>
        </div>
        <div class="button-group">
          <button class="button button--primary button--small {{classes 'createQuote.body.search.add.button'}}" data-click="handleProductAdd">{{ text 'quote.form.btn.add' }}</button>
          <button style="display:none" class="button button--primary button--small show-more-results" data-click="handleShowMoreProduct">{{ text 'shopping.list.button.more' }}</button>
        </div>
      </div>
      <div class="form-field form-field--split"><b>{{text 'shopping.list.divider.or'}}</b></div>
      <div class="form-field">
        <label class="form-label form-label--mb" for="">{{text 'shopping.list.upload.label'}}</label>

        <div class="upload-container">
          <a
            href="javascript:void(0);"
            class="uploadFile-mockup button button--primary"
          >
            {{text 'shopping.list.choose.file.button'}}
          </a>
          <input
            id="customer_sku_csv"
            type="file"
            data-reset="true"
            class="action-upload"
            name="sku_file"
            accept=".csv"
          />
        </div>

        <div class="form-input-desc" style="margin-bottom: 1rem;">
          <a
            href="https://s3-us-west-2.amazonaws.com/bundleb2b-v2.0-quote-prod/quote_products_template.csv"
            >{{text 'shopping.list.download.sample.csv.button'}}
          </a>
        </div>
        <div class="upload-report-container">

        </div>
      </div>
  </div>
  <div class="quote-table">
      <table class="responsive-table quote-list-table {{classes 'createQuote.table'}}" id="product_list_table">
          <thead>
              <tr>
                  <th class="{{classes 'createQuote.thead.th'}}">{{ text 'quote.thead.product' }}</th>
                  <th></th>
                  <th class="{{classes 'createQuote.thead.th'}}">{{ text 'quote.thead.price' }}</th>
                  <th class="t-align-c {{classes 'createQuote.thead.th'}}">{{ text 'quote.thead.discount' }}</th>
                  <th class="t-align-c {{classes 'createQuote.thead.th'}}">{{ text 'quote.thead.newPrice' }}</th>
                  <th class="t-align-c {{classes 'createQuote.thead.th'}}">{{ text 'quote.thead.quantity' }}</th>
                  <th class="{{classes 'createQuote.thead.th'}}">{{ text 'quote.thead.lineTotal' }}</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>

          </tbody>
      </table>
  </div>
  <div id="quote_total">
    <div data-row="" data-row-end="" class="{{classes 'createQuote.checkInfo.container'}}">
        <ul class="cart-totals {{classes 'createQuote.checkInfo.list.container'}}">
            <li class="cart-total {{classes 'createQuote.checkInfo.list.item'}}">
                <div class="cart-total-label">
                    <strong class="{{classes 'createQuote.checkInfo.list.item.label'}}">{{ text 'quote.subtotal' }}</strong>
                </div>
                <div class="cart-total-value {{classes 'createQuote.checkInfo.list.item.value'}}" id="subtotal">
                  0.00
                </div>
            </li>
            <li class="cart-total {{classes 'createQuote.checkInfo.list.item'}}">
                <div class="cart-total-label">
                    <strong class="{{classes 'createQuote.checkInfo.list.item.label'}}">{{ text 'quote.discount' }}</strong>
                </div>
                <div class="cart-total-value {{classes 'createQuote.checkInfo.list.item.value'}}" id="discount">
                  0.00
                </div>
            </li>
            <li class="cart-total {{classes 'createQuote.checkInfo.list.item'}}">
                <div class="cart-total-label">
                    <strong class="{{classes 'createQuote.checkInfo.list.item.label'}}">{{ text 'quote.grandtotal' }}</strong>
                </div>
                <div class="cart-total-value {{classes 'createQuote.checkInfo.list.item.value'}}" id="grand_total">
                  0.00
                </div>
            </li>
        </ul>
        <div style="clear: both"></div>
    </div>
  </div>
  <div class="quote-infomation quote-box {{classes 'createQuote.infomation.container'}}">
      <h2 class="{{classes 'createQuote.infomation.title'}}">{{ text 'quote.addtional.title' }}</h2>
      <p class="{{classes 'createQuote.infomation.subtitle'}}">{{ text 'quote.addtional.notes' }}</p>
      <textarea id="additional_infor" class="form-input additional_infor {{classes 'createQuote.infomation.textarea'}}" placeholder="Enter an additonal note for your customers.">{{additionalInfo}}</textarea>
  </div>

  <div class="float-right {{classes 'createQuote.foot.actions.container'}}">
    <a class="button button--small {{classes 'createQuote.foot.button.cancel'}}"  href="/quote-list/">{{text 'quote.cancel.button'}}</a>
    {{#unless fromEdit}}
    <a class="button button--primary button--small {{classes 'createQuote.foot.button.draft'}}" id="save_draft" href="javascript:void(0);" data-click="saveDraft">{{text 'quote.save.as.draft.button'}}</a>
    {{/unless}}
    {{#if fromEdit}}
    <a class="button button--small {{classes 'createQuote.foot.button.update'}}" id="update_quote" href="javascript:void(0);" data-click="updateQuote">{{text 'quote.update.button'}}</a>
    {{/if}}
    <a class="button button--primary button--small {{classes 'createQuote.foot.button.preview'}}" id="create_new_quote_button" href="javascript:void(0);" data-click="preview">{{text 'quote.preview.button'}}</a>
  </div>

  <div id="modal-quote-address-form" class="modal modal--small" data-reveal>
    <div class="modal-header {{classes 'createQuote.addressModal.header'}}">
        <input type="text" class="form-input {{classes 'createQuote.addressModal.header.input'}}" id="address_search_input" placeholder="Search Addresses">
        <button class="button button--primary button--search {{classes 'createQuote.addressModal.header.button'}}" type="button" id="address_search_btn" name="address_search_btn"><i class="fa fa-angle-double-right {{classes 'createQuote.addressModal.header.button.icon'}}"></i></button>
        <a href="javascript:void(0);" class="modal-close {{classes 'createQuote.addressModal.header.close'}}" role="button">
            &#215;
        </a>
    </div>
    <div class="modal-body {{classes 'createQuote.addressModal.body'}}">
      {{text 'quote.address.noData'}}
    </div>
    <ul class="pagination-list {{classes 'createQuote.addressModal.pagination.container'}}" id="quoteAddressPagination"></ul>
  </div>
</div>
