<div class="modal-header {{classes 'b2bWrap'}} {{classes 'createQuote.companyModal.header'}}">
  <input type="text" class="form-input company-search {{classes 'createQuote.companyModal.header.input'}}" id="search_company" placeholder="Search Companies" value="" data-change="searchCompany" data-stop>
  <a href="#" class="modal-close {{classes 'createQuote.companyModal.header.close'}}" aria-label="close" role="button">
    &#215;
  </a>
</div>
<div class="modal-body {{classes 'createQuote.companyModal.body'}}" id="companyModalBody">
  <ul class="company-list-wraper {{classes 'createQuote.companyModal.list.container'}} {{classes 'createQuote.companyModal.listWraper'}}">
    {{#list}}
    <li class="{{classes 'createQuote.companyModal.list.item'}} {{className}}" action-begin-masquerade data-company-id={{companyId}}>{{companyName}}</li>
    {{/list}}
  </ul>
  <ul class="pagination-list {{classes 'createQuote.companyModal.pagination.container'}}" id="modle-pagination"
    style="border-bottom:1px solid #e5e5e5;padding-bottom: 20px;"></ul>
  <div class="create-quote form-actions text-left {{classes 'createQuote.companyModal.actions.container'}}">
    <input type="submit" class="button button--primary {{classes 'createQuote.companyModal.button.save'}}" {{#if isSaveCompanyBtnDisabled}}disabled{{/if}} value="{{text 'quote.save.button'}}" id="save-comapny" data-click="saveComapny">
    <a href="#" class="button  modal-close modal-close--button {{classes 'createQuote.companyModal.button.cancel'}}">{{text 'quote.cancel.button'}}</a>
  </div>
</div>
