<tr data-product-id="{{product.id}}" class="optionView" data-product-base-sku="{{product.sku}}" data-variant-id="" data-min={{product.min_purchase_quantity}} data-max={{product.max_purchase_quantity}} {{#if hasOption}}data-has-option="true"{{/if}}">
  <td class="col-checkbox"><input type="checkbox" data-results-check-box data-product-id="{{product.id}}" 
  {{#if hasOption}}
    disabled="true"
  {{else}}checked="true" {{/if}}></td>
  <td class="col-product-figure"><img src="{{product.image.data}}" title="{{product.image.alt}}"></td>
  <td class="col-product-info" data-name="{{product.name}}">{{product.name}}
    <div class="product-options">
        <span data-product-sku>{{#if product.sku}}SKU: {{product.sku}}{{/if}}</span>
          <div class="product-price" data-product-price data-product-price-value="{{#if product.price.without_tax}}{{product.price.without_tax.value}}{{else}}{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{/if}}{{/if}}">
            {{#if product.price.without_tax}}{{product.price.without_tax.formatted}}{{else}}{{#if product.price.with_tax}}{{product.price.with_tax.formatted}}{{/if}}{{/if}}
          </div>
          <form class="form option-form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-option-form>
              <input type="hidden" name="action" value="add">
              <input type="hidden" name="product_id" value="{{product.id}}"/>
              {{#if options}}
              <div data-product-option-change>
                {{{options}}}
              </div>
              {{/if}}
              </div>
              

          </form>
      </div>
  </td>
</tr>


