.page{
    background-color: #e0e0e042;
}
img{
    width: 100%;
}
/* .select{
    position: absolute;
    top: 0.2rem;
    width: 3rem;
    left: 5.5rem;
}
.input{
    width: 1.5rem;
    border: 1px solid;
    outline: none;
    border-radius: 0.3rem;
} */
/* ::v-deep .v-application--wrap{
    min-height: auto;
} */

.divInput{
    position: absolute;
    top: 0.2rem;
    width: 1.5rem;
    left: 5.5rem;

  }
    ul li{
      list-style: none;
    }
    .input{
      height: 0.4rem;
      line-height: 0.4rem;
      padding-left: 10px;
      border: 1px solid #cccccc;
      position: relative;
      border-radius: 4.3rem;
      background: #fff;
      border-radius: 0.3rem;
    }
    .input input{
      border: none;
      outline: none;
      width: 90%;
    }
    .input img{
      position: absolute;
      right: 34px;
      top: 48%;
    }
    .list{
        border: 1px solid #cccccc;
        overflow: hidden;
        border-radius: 0.2rem;
        background: #fff;
        border-radius: 0.3rem;
    }
    .list ul li{
      width: 100%;
      height: 30px;
      cursor: pointer;
      line-height: 30px;
      padding-left: 10px;
    }
    .list ul li:hover{
      background-color: #cccccc;
    }

.page>div:nth-child(2){
    position: absolute;
}
.search{

    display: flex;
    border-radius: 0.3rem;
    background: #fff;
    margin-top: -0.5rem;
    z-index: 10;
    margin-left: 0.15rem;
    width: 7rem;
    height: 1rem;
    margin-left: 0.2rem;
    box-shadow: 1px 1px 5px #888888;
}
.search input{
    outline: none;
    border: 1px solid #b1adad;
    border-radius: 1.5rem;
    margin-top: 0.4em;
    margin-left: 0.5rem;
    height: 0.8rem;
    width: 4rem;
    margin-right: 1rem;
}
.search button{
    background: #2196f3;
    margin-top: 0.1rem;
    border-radius: 0.4rem;
    width: 1.3rem;
    height: 0.8rem;
    color: #fff;
}
.info{

    margin: auto;

    width: 91%;
}
.info-detail{
    margin-top: 0.4rem;
    border-radius: 0.4rem;
    background: #eeeeee;
    overflow: hidden;
    padding-bottom: 0.3rem;
}
.info-detail-page{
    margin: 0.2rem 0 0 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.icon{
    
}
.info-detail-page img{
    margin-top: -3rem;
    z-index: 1;
    width: 0.3rem;
    height: 0.3rem;
    font-family: SFProText-Medium;
    /* text-align: left; */
    color: #3c3c3c;
}
.text{
    margin-bottom: 0.3rem;
    font-family: SFProText-Medium;
    /* text-align: left; */
    color: #3c3c3c;
}
.text-1{
    height: 0.7rem;
    overflow: hidden;
    font-family: SFProText-Medium;
    /* text-align: left; */
    color: #3c3c3c;
}
.text-2{
    overflow: hidden;
}
.footer{
    display: flex;
    margin-top: 0.8rem;
    justify-content: space-around;
}
.footer>div:nth-child(1){
    padding: 0.2rem 0.6rem;
    background: #2298dc;
    border-radius: 0.3rem;
}
.footer>div:nth-child(2){
    padding: 0.2rem 0.6rem;
    background: #2298dc;
    border-radius: 0.3rem;
}