/*******
处理 padding, margin 的通用样式
m-{size}  size: 0 xs sm md lg xl
m{d}-{size} d: (t:top) (r: right) (b: bottom) (l: left) (x: left & right) (y: top & bottom);

p-{size}  size: 0 xs sm md lg xl
p{d}-{size} d: (t:top) (r: right) (b: bottom) (l: left) (x: left & right) (y: top & bottom);

*********/

$types: (
    m: margin,
    p: padding,
);
$direction: (
    t: top,
    r: right,
    b: bottom,
    l: left,
);
$sizes: (
    0: 0,
    xs: 4,
    sm: 8,
    md: 12,
    lg: 16,
    xl: 22,
);
$base-size: 1px;

@each $typeKey,
$type in $types {

    @each $sizeKey,
    $size in $sizes {

        // m-0 p-0
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size * $base-size  !important;
        }

        // mx-xs px-xs
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size * $base-size  !important;
            #{$type}-right: $size * $base-size  !important;
        }

        // my-sm my-lg
        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size * $base-size  !important;
            #{$type}-bottom: $size * $base-size  !important;
        }
    }

    @each $dirKey,
    $dir in $direction {

        @each $sizeKey,
        $size in $sizes {
            .#{$typeKey}#{$dirKey}-#{$sizeKey} {
                #{$type}-#{$dir}: $size * $base-size  !important;
            }
        }
    }
}