<div class="rfq-container-info">
  <div class="rfq-company-info">
    <div class="rfq-company-info-l">
      <p>{{storeInfo.storeName}}</p>
      <p>{{storeInfo.storeAddress}}</p>
      <p>{{storeInfo.storeCountry}}</p>
    </div>
    <div class="rfq-company-info-r">
      <div>
        <span>{{text 'rfq.company.quote'}}</span>
        <span>{{quoteNumber}}</span>
      </div>
      <div>
        <span>{{text 'rfq.company.reference-number'}}</span>
        <span>{{referenceNumber}}</span>
      </div>
      <div>
        <span>{{text 'rfq.company.issued'}}</span>
        <span>{{createdAt}}</span>
      </div>
      <div>
        <span>{{text 'rfq.company.expiration'}}</span>
        <span>{{expiredAt}}</span>
      </div>
      <div>
        <span>{{text 'rfq.company.sales-representative'}}</span>
        <span>{{salesRepInfo.salesRepName}}</span>
      </div>
    </div>
  </div>
  <div class="rfq-person-info">
    <div>
      <p>{{contactInfo.companyName}}</p>
      <p>{{contactInfo.email}}</p>
      <p>{{contactInfo.name}}</span>
      <p>{{shippingAddress.address}}</span>
      <p>{{shippingAddress.country}}</p>
    </div>
  </div>
  <div class="rfq-items-info">
    <table class="rfq-items-table-info">
      <thead class="rfq-items-table-underline">
        <td>{{text 'rfq.items.items'}}</td>
        <td>{{text 'rfq.items.qty'}}</td>
        <td>{{text 'rfq.items.price'}}</td>
        <td>{{text 'rfq.items.offered.price'}}</td>
        <td>{{text 'rfq.items.subtotal'}}</td>
        <td>{{text 'rfq.items.offered-subtotal'}}</td>
      </thead>
      <tbody class="rfq-items-table-underline rfq-table-body">
      </tbody>
    </table>
  </div>
  <div class="rfq-total">
    <table>

    </table>
  </div>
</div>
