<div class="rfq-send-message">
  <p>{{text 'rfq.message.title'}}</p>
  <div class="rfq-message-input">
    <input class="form-input"  type="text" value="" placeholder="{{text 'rfq.message.input.placeholder'}}">
  </div>
</div>
<div class="rfq-submit-btn">
  {{#if isShowCreateBtn}}
  <input class="button button--search form-prefixPostfix-button--postfix rfq-send-message-btn" type="submit" value="{{text 'rfq.send.message.btn'}}">
  <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="{{text 'rfq.checkout.btn'}}">
  {{/if}}
</div>
