{{#each lists}}
<tr class="{{classes 'Quotes'}}">
  <td class="{{classes 'quotes.tbody.td'}}">{{referenceNumber}}</td>
  <td class="{{classes 'quotes.tbody.td'}}">{{title}}</td>
  <td class="t-align-c">
    {{#if isShowCreateBtn}}
    {{companyName}}
    {{else}}
    {{salesRep}}
    {{/if}}
  </td>

  <td class="t-align-c {{classes 'quotes.tbody.td'}}">{{displayFormat createdAt}}</td>
  <td class="t-align-c {{classes 'quotes.tbody.td'}}">{{status}}</td>
  <td class="t-align-c {{classes 'quotes.tbody.td'}}" style="position:relative;text-align: center;">
      <i data-click="toggleDropdown" class="fa fa-ellipsis-v td-action-dropdown {{classes 'quotes.td.action.icon'}}" quote-list-action></i>
      <ul class="dropdown-menu {{classes 'quotes.td.action.panel.container'}}">
        <li class="button button--small dropdown-menu-item {{classes 'quotes.td.action.panel.item'}}"><a href="/quote-detail/?quote-id={{quoteId}}">{{text 'quotes.action.view'}}</a></li>
        {{#if isShowCheckOut}}
        <li class="button button--small dropdown-menu-item {{classes 'quotes.td.action.panel.item'}}"><a href="javascript:void(0);" data-click="checkout" data-quote-id="{{quoteId}}">{{text 'quotes.action.checkout'}}</a></li>
        {{/if}}
        {{#if orderId}}
        <li class="button button--small dropdown-menu-item {{classes 'quotes.td.action.panel.item'}}"><a href="/order-detail/?id={{orderId}}" data-quote-id="{{quoteId}}">{{text 'quotes.action.view.order'}}</a></li>
        {{/if}}
        {{#if isShowEditBtn}}
        <li class="button button--small dropdown-menu-item {{classes 'quotes.td.action.panel.item'}}"><a href="/quote-edit/?quote-id={{quoteId}}"  data-quote-edit>{{text 'quotes.action.edit'}}</a></li>
        {{/if}}
        {{#if isShowDeleteBtn}}
      <li class="button button--small dropdown-menu-item {{classes 'quotes.td.action.panel.item'}}"><a href="javascript:void(0);" data-stop data-click="handleDeleteQuote" data-quote-id="{{quoteId}}">{{text 'quotes.action.delete'}}</a></li>
        {{/if}}
    </ul>
  </td>
</tr>
{{/each}}
