@import './scss/element', './scss/flex', './scss/padding';

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #fff;
  color: #222;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif, Arial, 'PingFang SC', 'Microsoft YaHei', '微软雅黑', SimHei,
    SimSun;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* 包含以下四种的链接 */
a {
  text-decoration: none;
}

/* 正常的未被访问过的链接 */
a:link {
  text-decoration: none;
}

/* 已经访问过的链接 */
a:visited {
  text-decoration: none;
}

/* 鼠标划过(停留)的链接 */
a:hover {
  text-decoration: none;
}

/* 正在点击的链接 */
a:active {
  text-decoration: none;
  color: black;
}

.el-table__header,
.el-table__body {
  width: 100% !important;
}

.el-table {

  td,
  th {
    padding: 5px 0;
  }
}

/* 修改empty 样式 */
.el-empty {
  padding: 10px 0;

  .el-empty__description {
    margin-top: 0;
  }
}

// .el-pagination {
//   padding: 12px 5px;
// }

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::before {
  display: table;
  content: '';
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.clearfix::before {
  display: table;
  content: '';
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-deleted {
  text-decoration: line-through;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-wrap {
  white-space: pre-wrap !important;
}

.text-ellispis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}

.text-xs {
  font-size: 12px !important;
}

.text-sm {
  font-size: 14px !important;
}

.text-md {
  font-size: 16px !important;
}

.text-lg {
  font-size: 18px !important;
}

.text-xl {
  font-size: 22px !important;
}

.point {
  cursor: pointer;
}

.default {
  cursor: default;
}