@import './theme/base', './theme/mixin', './theme/variable';
// $themes: (light: ($light),
//   dark: ($dark),
// );


// // #{$theme-name}

// @each $theme, $config in $themes {
//   [data-theme="#{$theme}"] & {
//     // $config;
//   }
// }
// $color-primary: yello;
$theme: var(--theme-text);
$type: 'light';

@if #{$theme} == 'light' {
  $text-primary-color: red !global; // border: 2px solid;
}

@else {
  $text-primary-color: blue !global;
}