/*
  document address:
  https://babeljs.io/docs/en/babel-plugin-proposal-optional-chaining
  https://babeljs.io/docs/en/babel-plugin-proposal-nullish-coalescing-operator
*/

{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
