<div class="bottom-cart-container {{classes 'ShoppingList'}} {{classes 'shoppinglist.bottom.wraper'}}">
  <div class="container {{classes 'shoppinglist.bottom.container'}}">
    <div class="bottom-cart-inner">
      <a href="javascript:void(0);" class="bottom-cart-toggle {{classes 'shoppinglist.bottom.cart.button.toggle'}}"
        ><span class="cart-quantity">{{cart.quantity}}</span> Item(s) in Your
        Cart <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i
          >
        </a>
        {{#if isShowAddToCart}}
      <button
        href="javascript:void(0);"
        class="bottom-cart-updatelist button button--primary {{classes 'shoppinglist.bottom.cart.button.addToCart'}}"
        id="add_to_cart"
      >
        {{text 'shopping.list.add.to.cart.button'}}
      </button>
      {{/if}}
      <div class="bottom-cart-content">
        <ul class="cart-info {{classes shoppinglist.bottom.cart.content.container}}">
          <li><a href="javascript:void(0);" id="clear_cart">{{text 'shopping.list.clear.cart.button'}}</a></li>
          <li><span>|</span></li>
          <li>
            <span>Subtotal: </span
            ><span data-cart-subtotal>{{cart.sub_total.formatted}}</span>
          </li>
          {{#if isShowAddToCart}}
          <li>
            &nbsp;&nbsp;<a class="button button--primary {{classes 'shoppinglist.bottom.cart.button.goToCheckout'}}" href="/cart.php"
              >{{text 'shopping.list.go.to.checkout.button'}}</a
            >
          </li>
        {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>
