<div class="modal-header {{classes 'shoppinglist.editModal.header.container'}}">
  <h2 class="modal-header-title {{classes 'shoppinglist.editModal.header.title'}}">{{text 'shopping.list.edit.modal.title'}}</h2>
  <a href="#" class="modal-close {{classes 'shoppinglist.editModal.header.close'}}" role="button">
    <span aria-hidden="true">&#215;</span>
  </a>
</div>
<div class="modal-body {{classes 'shoppinglist.editModal.body'}}">
  <form class="form" action="" method="post">
    <fieldset class="form-fieldset {{classes 'shoppinglist.editModal.form.container'}}">
      <div class="form-field {{classes 'shoppinglist.editModal.form.item.container'}}">
        <label class="form-label {{classes 'shoppinglist.editModal.form.item.label'}}" for="list_name"
          >
          {{text 'shopping.list.edit.modal.form.name.label'}}
          <small class="{{classes 'shoppinglist.editModal.form.item.required'}}">{{text 'global.required.label' }}</small>
        </label>
        <input
          class="form-input {{classes 'shoppinglist.editModal.form.item.input'}}"
          type="text"
          name="list_name"
          id="list_name"
          value="{{name}}"
        />
      </div>
      <div class="form-field {{classes 'shoppinglist.editModal.form.item.container'}}">
        <label class="form-label {{classes 'shoppinglist.editModal.form.item.label'}}" for="list_comment">
          {{text 'shopping.list.edit.modal.form.description.label'}}
        </label>
        <textarea
          class="form-input {{classes 'shoppinglist.editModal.form.item.textarea'}}"
          name="list_comment"
          id="list_comment"
          cols="30"
          rows="3"
        >{{description}}</textarea>
      </div>

      <div class="form-field {{classes 'shoppinglist.editModal.button.container'}}">
        <input
          type="button"
          class="button button--primary {{classes 'shoppinglist.editModal.button.save'}}"
          value="{{text 'shopping.list.save.button'}}"
          id="rename_list"
        />

        <a href="#" class="button modal-close modal-close--button {{classes 'shoppinglist.editModal.button.cancel'}}">{{text 'shopping.list.cancel.button'}}</a>
      </div>
    </fieldset>
  </form>
</div>
