<div class='rfq-button-container {{#if isCart}} rfq-cart-button-container {{else}} rfq-pdp-button-container {{/if}}'>
  {{#if isAdded}}
    <button class="button">{{text 'rfq.button.added'}}</button>
  {{else}}
    {{#if isCart}}
      <button 
        class="button button--primary {{#if isAdding}}loadingOverlay{{/if}}" 
        data-click="handleAddAll"
        {{#if isAdding}}disabled{{/if}}
      >
        {{text 'rfq.button.addAll'}}
      </button>
    {{else}}
      <button 
        class="button button--primary {{#if isAdding}}loadingOverlay{{/if}}" 
        data-click="handleAdd"
        {{#if isAdding}}disabled{{/if}}
      >
        {{text 'rfq.button.add'}}
      </button>
    {{/if}}
  {{/if}}

  <a href="javascript:void(0);" data-click="renderForm">{{text 'rfq.button.viewQuote'}}</a>
</div>
