{{#each formFields}}
  {{#if type '==' 'tip'}}
    <div class="form-tip">{{tip}}</div>
  {{else}}
    <div class="form-field">
      <label class="form-label" for="{{name}}">
        {{label}}
        {{#if required}}
          <small>{{ text 'global.required.label' }}</small>
        {{/if}}
      </label>
      <input 
        class="form-input" 
        type="text" 
        name="{{name}}" 
        value="{{value}}" 
        data-blur="handleInputFieldBlur" 
        data-required="{{required}}"
        data-label="{{label}}"
        {{#if disabled}}disabled{{/if}}
      >
    </div>
  {{/if}}
{{/each}}