<div class="rfq-form-wrapper">
  <div class="mask"></div>
  <div class="form-container">
    <div class="loadingOverlay"></div>
    <div class="title-container">
      <i class="fa fa-arrow-circle-left" data-click="hideForm"></i>
      <h3>{{text 'rfq.form.title'}}</h3>
    </div>
    <div class="divider"></div>
    <div class="quote-edit-container">
      <div class="body-container"></div>
      <div class="divider"></div>
      <div class="products-container"></div>
      <div class="message-container"></div>
      <div class="button button--primary submit" data-click="handleSubmit">{{text 'rfq.form.button.submit'}}</div>
    </div>
    <div class="quote-success-container hide">
      <div class="text-center">
        <h3>Done!</h5>
        <p>Please be patient and pay attention to the email.To facilitate follow-up,you will get a URL about the status of this quote.</p>
      </div>
      <div class="button" data-click="hideForm">{{text 'rfq.form.button.close'}}</div>
    </div>
  </div>
</div>