.svg-icon-Upload {
  width: 48px;
  height: 48px;
  color: $primary;
}

.svg-icon-question {
  width: 15px;
  height: 15px;
  color: $primary;
}

.svg-icon-auth {
  width: 15px;
  height: 15px;
  color: $primary;
}

.svg-icon-excel {
  width: 32px;
  height: 32px;
  color: $primary;
}