/* @media screen and (min-width:1920px) {
    html{
        font-size: 100px;
    }
}
@media screen and (max-width:1920px) {
    html{
        font-size: 100px;
    }
}
@media screen and (max-width:1538px) {
    html{
        font-size: 100vw;
    }
}
@media screen and (max-width:1400px) {
    html{
        font-size: 80px;
    }
}
@media screen and (max-width:960px) {
    html{
        font-size: 80px;
    }
} */
.nav {
    display: flex;
    height: 0.8rem;
    opacity: 1;
    background: #ffffff;
    width: 19.2rem;
    padding: 0 3.2rem 0 3.6rem;
    box-sizing: border-box;
    margin: auto;
}

.nav>img {
    width: 0.78rem;
    height: 0.32rem;
    opacity: 1;
    margin: auto 0;
    padding: auto 0;
    margin-right: 0.2rem;
}

.nav>ul {
    padding: 0;
    margin: auto 0;
}

.nav>ul>li {
    float: left;
    opacity: 1;
    font-size: 0.18rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: center;
    color: #333333;
    margin-right: 0.2rem;
}

.nav a {
    color: #000;
    font-size: 0.18rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: center;
    color: #333333;
}

.mod-select {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    margin-left: 1.42rem;
    width: 1.02rem;
    border: 0.02rem solid #ff6600;
    border-radius: 0.04rem;
    position: relative;
    height: 0.3rem;
    cursor: default;
}

.select_label {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 0.18rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: center;
    color: #333333;
}

.jiantou-img {
    margin-top: -1px;
    text-align: center;
    width: 0.34rem;
    opacity: 1;
    background: #ff6600;
    margin: -0.01rem;
}

.jiantou-img img {
    width: 0.13rem;
    height: 0.11rem;
    vertical-align: middle;
    opacity: 1;
    margin-top: 0.12rem;
}

.select-list {
    position: absolute;
    top: 0.3rem;
    width: 100%;
    border: 1px solid #E4E7ED;
    border-radius: 4px;
    background-color: #FFF;
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    -webkit-box-sizing: border-box;
}

.select-list li {
    padding: 0.1rem;
}


.nav>span {
    margin: auto 0;
    margin-left: 30px;
    width: 0.5rem;
    opacity: 1;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    color: #333333;
}

.header {
    width: 19.2rem;
    height: 0.5rem;
    opacity: 1;
    background: #333333;
    line-height: 0.5rem;
    display: flex;
    padding: 0 3.6rem;
    box-sizing: border-box;
    margin: auto;
}

.header>div:nth-of-type(1) {
    height: 0.5rem;
    opacity: 1;
    background: #ff6600;
    text-align: center;
    display: flex;
}

.header>div:nth-of-type(1) span {
    font-size: 0.16rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    margin-left: 0.2rem;
    background: #ff6600;
    width: 1rem;
}

.header>div:nth-of-type(1) img {
    width: 0.18rem;
    height: 0.1rem;
    margin-left: 0.15rem;
    margin: 0.2rem;
}

.search-header {
    margin-left: 5.1rem;
    display: flex;
}

.search-header input {
    width: 3.18rem;
    height: 0.32rem;
    vertical-align: middle;
    opacity: 1;
    background: #ffffff;
    list-style: none;
    border: none;
    outline: 0;
    padding: 0;
    padding-left: 0.1rem;
    margin-top: 0.1rem;
    box-sizing: border-box;
}

.search-header>a {
    width: 0.32rem;
    height: 0.32rem;
    opacity: 1;
    background: #999999;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 0.42rem;
    margin-top: 0.1rem;
}

.search-header img {
    width: 0.18rem;
    height: 0.18rem;
    opacity: 1;
}

.search-content {
    position: absolute;
    width: 3.5rem;
    top: 93%;
    padding: 0 0.2rem;
    background: #fff;
    box-sizing: border-box;
    display: none;
    cursor: default;
}

.search-content p:hover {
    color: #e7650d;
}

.search-content p {
    font-size: 0.16rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: left;
    color: #333333;
}

.history>div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    height: 0.4rem;
}

.history>div span {
    opacity: 1;
    font-size: 0.18rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    text-align: left;
    color: #333333;
}

.search-content p {
    padding: 0;
    margin: 0;
    font-size: 0.14rem;
    height: 0.3rem;
    line-height: 0.3rem;
}

.hot-search div:nth-of-type(1) {
    font-size: 0.18rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    text-align: left;
    color: #333333;
    height: 0.4rem;
}

.hot-search {
    margin-bottom: 0.3rem;
}

.header>span {
    opacity: 1;
    font-size: 0.14rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    margin-left: 0.7rem;
    cursor: default;
    word-break: keep-all;
}

.header-tip {
    width: 19.2rem;
    height: 2rem;
    opacity: 0.5;
    line-height: 2rem;
    opacity: 1;
    font-size: 0.6rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    text-align: left;
    color: #333333;
    background: url("./fangchan-img/header-bg.png");
    padding-left: 3.6rem;
    box-sizing: border-box;
    background-size: cover;
    margin: auto;
}

/*  */
.header {
    position: relative;
}

.main-nav {
    position: absolute;
    top: 100%;
}

.main-nav ul {
    margin: 0;
}

.main-nav ul li.dropdown .menu {
    font-size: 0.12rem;
    font-family: "\5b8b\4f53";
}

.main-nav ul li.dropdown .menu a {
    font-size: 0.12rem;
    line-height: 0.24rem;
    display: inline;
    color: #252525;
}

.main-nav ul li.dropdown .menu a:hover,
.main-nav ul li.dropdown .menu a.active {
    text-decoration: none;
    background: none;
}

.main-nav ul li.dropdown .main-menu {
    /* position: relative; */
    z-index: 100;
    /* width: 278px;
    border: 1px solid #e0e0e0; */
    border-right: 0;
}

.main-nav ul li.dropdown .main-menu dl {
    height: 0.3rem;
    /* width: 2.78rem; */
    line-height: 0.3rem;
    padding: 0.1rem 0.15rem;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #f6f6f6 url(../fangchan-img/arr.gif) no-repeat 2.6rem 0.04rem;
    margin: 0;
}

.main-nav ul li.dropdown .main-menu dl.active-menu {
    border-right: 0;
    background: #f6f6f6 url(../fangchan-img/arr.gif) no-repeat 2.6rem -44px;
    border-right: 0px;
}

.main-nav ul li.dropdown .main-menu dl dt {
    font-weight: bold;
    line-height: 0.35rem;
    float: left;
}

.main-nav ul li.dropdown .main-menu dl dd {
    float: left;
    font-size: 0.12rem;
    line-height: 0.35rem;
    overflow: hidden;
    cursor: pointer;
}

.main-nav ul li.dropdown .main-menu dl dd a {
    display: inline-block;
    margin-right: 0.3rem;
    white-space: nowrap;
    color: #252525;
}

.main-nav ul li.dropdown .main-menu dl dd a:hover {
    color: #f50;
}

.main-nav ul li.dropdown .main-menu dl.last-child {
    border-bottom: 0;
}

.main-nav ul li.dropdown .sub-menu {
    /* position: absolute; */
    z-index: 10;
    top: 0;
    border: 1px solid #e0e0e0;
    border-left: 0px;
    padding: 0.2rem;
    /* width: 680px;
    height: 421px; */
    background: #ffffff;
    left: 278px;
}

.main-nav ul li.dropdown .sub-menu .item {
    width: 680px;
}

.main-nav ul li.dropdown .sub-menu .item dl {
    padding: 5px 0;
    border-bottom: 1px dotted #ccc;
}

.main-nav ul li.dropdown .sub-menu .item dl.last-child {
    border-bottom: 0;
}

.main-nav ul li.dropdown .sub-menu .item dt {
    font-weight: bold;
    float: left;
    overflow: hidden;
    width: 80px;
    text-align: right;
}

.main-nav ul li.dropdown .sub-menu .item dt a {
    color: #f60;
}

.main-nav ul li.dropdown .sub-menu .item dd {
    margin-left: 90px;
    text-align: left;
}

.main-nav ul li.dropdown .sub-menu .item a {
    line-height: 28px;
    display: inline-block;
    height: 28px;
    margin-right: 5px;
    white-space: nowrap;
}

.main-nav ul li.dropdown .sub-menu .item a:hover {
    color: #f50;
}

/*  */
.notification {
    width: 19.2rem;
    opacity: 1;
    font-size: 0.18rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: left;
    color: #333333;
    padding: 0.2rem 3.6rem;
    box-sizing: border-box;
    margin: auto;
}

.main {
    display: flex;
    width: 19.2rem;
    margin: auto;
    padding: 0 3.6rem;
    box-sizing: border-box;
}

.main-left {
    width: 8.16rem;
    margin-right: 0.24rem;
}

.search-title {
    display: flex;
    width: 8.16rem;
}

.search-title-left {
    width: 1.6rem;
    height: 0.64rem;
    line-height: 0.64rem;
    text-align: center;
    opacity: 1;
    background: #ff6600;
}

.search-title-left span {
    font-size: 0.2rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    border-left: 0.04rem solid;
    padding: 0 0.2rem;
}

.search-title-right {
    width: 6.6rem;
    height: 0.64rem;
    line-height: 0.64rem;
    opacity: 1;
    background: #f3f3f3;
}

.search-title-right span {
    font-size: 0.18rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: left;
    margin-left: 0.2rem;
    color: #333333;
}


.guide {
    width: 8.16rem;
    opacity: 1;
    background: #f3f3f3;
    margin-top: 0.2rem;
    position: relative;
}

.guide-box {
    padding: 0.05rem;
    padding-bottom: 1.48rem;
    min-height: 6rem;
}

.guide-title p {
    width: 0.88rem;
    font-size: 0.2rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    text-align: left;
    color: #333333;
    border-left: 0.04rem solid;
    margin-left: 0.1rem;
    padding-left: 0.2rem;
}

.guide-content {
    display: flex;
}

.guide-nav {
    width: 1.44rem;
    opacity: 1;
    background: #ffffff;
    margin-left: 0.1rem;
    padding-bottom: 0.2rem;
    cursor: default;
}

.guide-nav-title {
    font-size: 0.18rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    text-align: left;
    color: #333333;
    padding: 0.2rem 0 0.1rem 0.1rem;
    border-bottom: 0.01rem solid #F3F3F3;
    margin-bottom: 0.2rem;
}

.guide-nav ul {
    padding: 0rem 0 0.1rem 0.1rem;
}

.guide-nav ul>li {
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: left;
    color: #333333;
    font-size: 0.16rem;
    margin-bottom: 0.16rem;
}

.guide-ico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.44rem;
    opacity: 1;
    margin-left: 0.1rem;
    position: absolute;
    top: 0;
    /* margin-top: 4rem; */
}

.guide-ico img {
    width: 0.49rem;
    height: 0.49rem;
    opacity: 1;
    margin: auto;
    margin-top: 0.24rem;
}

.guide-content-right {
    width: 6.16rem;
    margin-left: 0.2rem;
}

.guide-content-select {
    padding: 0rem 0.05rem 0.2rem 0.05rem;
    opacity: 1;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: initial;
}

.guide-content-select>div {
    display: flex;
}

.guide-content-select>div>span {
    display: inline-block;
    margin: auto 0;
    padding-left: 0.2rem;
    word-break: keep-all;
    margin-top: 0.19rem;
}

.guide-content-select ul {
    margin: 0.2rem 0.1rem 0 0;
}

.guide-content-select ul>li {
    float: left;
    margin-right: 0.2rem;
    cursor: default;
    line-height: 0.26rem;
}

.guide-content-article-title>div:nth-child(1) {
    font-size: 0.2rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    text-align: left;
    /* color: #ff6600; */
    padding-left: 0.1rem;
    border-left: 0.04rem solid #ff6600;
    margin: 0.2rem 0;
}

.guide-content-article-title>div:nth-child(1):hover>a {
    color: #ff6600;
}

.guide-content-article-title>div:nth-child(2) {
    padding: 0.24rem;
    opacity: 1;
    font-size: 0.16rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: justifyLeft;
    color: #666666;
    background-color: #fff;
    line-height: 0.25rem;
}

.main-right {
    width: 3.61rem;
}

/*  */
.active {
    border: 1px solid;
    width: 3.61rem;
    opacity: 1;
    border-top: 2px solid;
    border-color: #ff6600 #ccc #ccc #ccc;
    margin-bottom: 0.2rem;
}


.active-title {
    padding: 0.1rem;
    font-size: 0.18rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    text-align: left;
    color: #333333;

}

.main-right>div:last-of-type>div:first-of-type {
    border-bottom: 1px solid #ccc;
}

.active-content div {
    border-top: 1px solid #ccc;
    height: 0.42rem;
    width: 3.42rem;
    padding: 0 0.1rem;
    line-height: 0.4rem;
}

.active-content>div>span {
    display: inline-block;
    width: 0.04rem;
    height: 0.04rem;
    background-color: #ccc;
    border-radius: 0.5rem;
    margin-bottom: 0.17rem;
    margin-right: 0.1rem;
}

.active-content div>a {
    display: inline-block;
    overflow: hidden;
    height: 0.42rem;
    line-height: 0.42rem;
    width: 3.04rem;
}

.active-content div>a>span {
    display: inline-block;
    width: 100%;
    font-size: 0.16rem;
}

.active-content div>a>span:hover {
    color: #ff6600;
}

.scan-tip {
    padding: 0 0.2rem 0.1rem 0.2rem !important;
    height: initial !important;
    line-height: initial !important;
    width: initial !important;
    border-top: 0 !important;
}

.scan-tip span {
    width: initial !important;
    background-color: initial !important;
    margin: 0 !important;
    line-height: initial !important;
}

/*  */
.index-main-bottom {
    padding: 0.48rem 3.6rem 1.56rem 3.6rem;
    box-sizing: border-box;
    width: 19.2rem;
    cursor: default;
    margin: auto;
}

.index-main-bottom .main-bottom-content {
    display: flex;
    justify-content: space-around;
}

.index-main-bottom .bottom-content-left {
    width: 1.77rem;
    height: 2.4rem;
    opacity: 1;
    background: #F2F2F2;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 2.4rem;
    font-size: 0.18rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    text-align: center;
    color: #333333;
}

.bottom-content-right {
    width: 10rem;
    height: 2.4rem;
    opacity: 1;
    background: #f2f2f2;
    border-radius: 0.2rem;
    text-align: center;
}

.guide-list {
    margin-top: 1.1rem;
}

/*  */
.guide-list-title {
    font-size: 0.18rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    text-align: center;
    color: #333333;
}

.el-dropdown {
    padding: 0 0.22rem;
    border-right: 0.02rem solid #aaaaaa;
    opacity: 1;
    font-size: 0.18rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    text-align: center;
    color: #333333;
}

.el-dropdown-menu {
    /* padding: 10px 10px !important; */
    border-radius: 0.15rem !important;
}

.guide-dropdown-menu .el-dropdown-menu__item {
    text-align: center;
    padding: 0 0.31rem;
    font-size: 0.16rem !important;
    font-family: Microsoft YaHei, Microsoft YaHei-Light;
    color: #333333;
    line-height: 0.35rem;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #FF6600 !important;
}

.guide-dropdown-menu .el-dropdown-menu__item:hover a {
    color: #fff;
}

/* 改变三角箭头颜色 */
/* .el-popper .popper__arrow::after {
    content: none !important;
    border-width: initial !important;
} */

/* footer模块样式 */
.footer {
    padding: 0 3.6rem;
    width: 19.2rem;
    box-sizing: border-box;
    margin: auto;

}

.index-footer {
    height: 2.5rem;
    border-top: 2px solid #CCC;
    width: 10.5rem;
    margin: auto;
}

.footer-content {
    margin: 0 auto;
    padding-top: 10px;
    line-height: 22px;
    font-size: 0.875rem;
    text-align: center;
    color: #666;
}

.index-footer a {
    margin: auto 3px;
    text-decoration: none;
    color: #333;
}

.index-footer a:hover {
    color: red;
}

.footer-logo img {
    width: 0.5rem;
    height: 0.5rem;
}

.page {
    position: relative;
}

.page:after {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 19.2rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    content: attr(data-text);
    /* transition:all 1s ease; */
    transform: translateY(-100%);
    color: #FFF;
    z-index: 0;
}

.mark:after {
    transform: translateY(0);
}

.mark-box {
    width: 7rem;
    position: fixed;
    z-index: 100;
    display: none;
    box-sizing: border-box;
}

.mark-header {
    height: 0.5rem;
    line-height: 0.5rem;
    display: flex;
    justify-content: space-between;
    background: #e7650d;
    padding: 0.2rem 0.5rem;
}

.mark-header span {
    font-size: 0.24rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.mark-header img {
    width: 0.36rem;
    height: 0.36rem;
    margin-top: 0.07rem;
}

.mark-content {
    padding: 0.2rem 0.5rem;
    background-color: #fff;
}

.mark-content>div:first-of-type {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4rem;
}

.mark-content div span {
    font-size: 0.22rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: left;
    color: #333333;
}

.mark-content>div:first-of-type span:last-of-type {
    font-size: 0.22rem;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: left;
    color: #fab736;
}

.mark-content div input {
    width: 3.6rem;
    height: 0.3rem;
    margin-top: -0.04rem;
    outline-style: none;
}

.platform {
    display: flex;
    justify-content: start;
    margin: 0.3rem 0;
}

.platform>span {
    width: 1.2rem;
}

.platform-content img {
    width: 0.8rem;
    height: 0.8rem;
    opacity: 1;
}

.platform-content {
    display: flex;
    width: 4rem;
    justify-content: space-between;
    text-align: center;
}

.platform-content>div>a>div {
    margin-top: 0.1rem;
}