.header-tip {
    background: url("./fangchan-img/hukou-header-bg.png");
    background-size: cover;
}
.guide-content-select ul>li {
    float: left;
    margin-right: 0.2rem;
    cursor: default;
    line-height: 0.3rem;
}
.guide-content-select ul {
    margin: 0.18rem 0.1rem 0 0;
}
