{{#if visible}}
<div class="form-field" id="{{id}}" data-validation="{{validation}}">
    <label class="form-label" for="{{id}}_input">{{label}}
        {{#if required}}<small>{{text 'global.required.label'}}</small>{{/if}}
    </label>
    <input {{#if disabled}}disabled{{/if}} type="number" class="form-input" data-label="{{label}}" data-rule="lowerThan" min="{{limitfrom}}" max="{{limitto}}" value="{{value}}" id="{{id}}_input" name="{{name}}" aria-required="{{required}}" {{#if private_id}}data-field-type="{{private_id}}"{{/if}}>
</div>
{{/if}}
