<div class="buyAgain {{classes 'BuyAgain'}}">
  <div class="b2b-wrap {{classes 'b2bWrap'}}">
    <div class="clearfix {{classes 'buyAgain.actions.container'}}">
      <div class="buy-again-search float-left {{classes 'buyAgain.search.container'}}">
          <input type="text" class="form-input {{classes 'buyAgain.search.input'}}" placeholder="{{ text 'buyAgain.searchInput.placeholder' }}" value="{{filters.q}}">
      </div>
      <div class="filter-by-date float-right {{classes 'buyAgain.dateFilter.container'}}">
        {{ text 'buyAgain.datePicker.from.label' }}
        <input class="{{classes 'buyAgain.dateFilter.from.input'}}" type="text" id="orderFromDate" readOnly value="{{filters.beginDateAt}}"/> 
        {{ text 'buyAgain.datePicker.to.label' }}
        <input class="{{classes 'buyAgain.dateFilter.to.input'}}" type="text" id="orderToDate" readOnly value="{{filters.endDateAt}}"/>
        <!-- <i class="fa fa-calendar from {{classes 'buyAgain.dateFilter.from.icon'}}"></i>
        <i class="fa fa-calendar to {{classes 'buyAgain.dateFilter.to.icon'}}"></i> -->
      </div>
    </div>

    <div class="table-wrap">
      <table class="responsive-table buy-again-lists-table {{classes 'buyAgain.table'}}" css-status="all">
          <thead>
            <tr>
              <th class="{{classes 'buyAgain.thead.th'}}">{{ text 'buyAgain.thead.product.label' }}</th>
              <th class="t-align-c {{classes 'buyAgain.thead.th'}}">{{ text 'buyAgain.thead.sku.label' }}</th>
              <th class="t-align-c {{classes 'buyAgain.thead.th'}}">{{ text 'buyAgain.thead.lastOrdered.label' }}</th>
              <th class="t-align-c {{classes 'buyAgain.thead.th'}}">{{ text 'buyAgain.thead.price.label' }}</th>
              <th class="t-align-c {{classes 'buyAgain.thead.th'}}">{{ text 'buyAgain.thead.qty.label' }}</th>
              <th class="t-align-c {{classes 'buyAgain.thead.th'}}">{{ text 'buyAgain.thead.action.label' }}</th>
          </tr>
          </thead>
        <tbody>

        </tbody>
      </table>
    </div>

    <div class="table-toolbar">
      <div class="number-items {{classes 'buyAgain.unit.container'}}">
        <span class="{{classes 'buyAgain.unit.num'}}">{{itemsLength}}</span> 
        {{ text 'global.toolbar.unit' }}
      </div>
    </div>
    
    <ul class="pagination-list" id="orders-pagination"></ul>
  </div>
</div>