<div class="modal-header {{classes 'global.shoppingListModal.header'}}">
  <h2 class="modal-header-title {{classes 'global.shoppingListModal.header.title'}}">{{ text 'buyAgain.createModal.title.label' }}</h2>
  <a href="#" class="modal-close {{classes 'global.shoppingListModal.header.close'}}" aria-label="close" role="button">
    &#215;
  </a>
</div>
<div class="modal-body {{classes 'global.shoppingListModal.body'}}">
  <form class="form" id="new_shopping_list_form" action="" method="post" data-product=${JSON.stringify(data)}>
    <fieldset class="form-fieldset {{classes 'global.shoppingListModal.form.container'}}">
      <div class="form-field {{classes 'global.shoppingListModal.form.item'}}">
        <label class="form-label {{classes 'global.shoppingListModal.form.item.label'}}" for="list_name">
          {{ text 'buyAgain.createModal.name.label' }}
          <small class="{{classes 'global.shoppingListModal.form.item.required'}}">{{ text 'global.required.label' }}</small>
        </label>
        <input class="form-input {{classes 'global.shoppingListModal.form.item.input'}}" type="text" name="list_name" id="list_name">
        <span style="display: none;color: #ff0000;">
          {{ text 'buyAgain.createModal.name.required' }}
        </span>
      </div>
      <div class="form-field {{classes 'global.shoppingListModal.form.item'}}">
        <label class="form-label {{classes 'global.shoppingListModal.form.item.label'}}" for="list_comment">{{ text 'buyAgain.createModal.description.label' }}</label>
        <textarea class="form-input {{classes 'global.shoppingListModal.form.item.textarea'}}" name="list_comment" id="list_comment" cols="30" rows="3"></textarea>
      </div>

      <div class="form-actions text-left {{classes 'global.shoppingListModal.actions.container'}}">
        <input type="submit" class="button button--primary {{classes 'global.shoppingListModal.button.save'}}" value="{{ text 'buyAgain.modal.save' }}" id="add_new_shoppingList">

        <a href="#" class="button  modal-close modal-close--button {{classes 'global.shoppingListModal.button.cancel'}}">{{ text 'buyAgain.modal.cancel' }}</a>
      </div>

    </fieldset>
  </form>
</div>
