<div class="modal-header {{classes 'buyAgain.shoppingListModal.header'}}">
  <h2 class="modal-header-title {{classes 'buyAgain.shoppingListModal.header.title'}}">{{ text 'buyAgain.chooseModal.title.label' }}</h2>
  <a href="#" class="modal-close {{classes 'buyAgain.shoppingListModal.header.close'}}" aria-label="close" role="button">
    &#215;
  </a>
</div>
<div class="modal-body {{classes 'buyAgain.shoppingListModal.body'}}">
  <ul class="shopping-list-wraper {{classes 'buyAgain.shoppingListModal.list.container'}} {{classes 'buyAgain.shoppingListModal.listWraper'}}">
    {{#list}}
    <li data-list-id='{{id}}' class="{{className}} {{classes 'buyAgain.shoppingListModal.list.item'}}">{{name}} {{description}}</li>
    {{/list}}
  </ul>
  <ul class="pagination-list {{classes 'buyAgain.shoppingListModal.pagination.container'}}" id="shoppingList-pagination"
    style="border-bottom:1px solid #e5e5e5;padding-bottom: 20px;"></ul>
  <div class="button button--small button--primary {{classes 'buyAgain.shoppingListModal.button.addToNew'}}" id="add-new-shopping-list" style="margin: 0;">{{text 'shopping.list.create.button'}}
  </div>
  <div class="buy-again form-actions text-left {{classes 'buyAgain.shoppingListModal.actions.container'}}">
    <input type="submit" class="button button--primary {{classes 'buyAgain.shoppingListModal.button.add'}}" value="{{ text 'buyAgain.modal.add' }}" id="add_to_shoppingList">
    <a href="#" class="button  modal-close modal-close--button {{classes 'buyAgain.shoppingListModal.button.cancel'}}">{{ text 'buyAgain.modal.cancel' }}</a>
  </div>
</div>
