{{#companies}}
<tr class="{{classes 'dashboard.tbody.tr'}}" id="{{ companyId }}" data-company-id="{{ companyId }}">
  <td class="company_name {{classes 'dashboard.td'}}">{{ companyName }}</td>
  <td class="col-product-info {{classes 'dashboard.td'}}">
   {{ companyAdminName }}
  </td>
  <td class="t-align-l {{classes 'dashboard.td'}}">
    {{ companyEmail }}
  </td>
  <td class="t-align-c col-sale-actions company_admin_impersonation {{classes 'dashboard.td'}}">
    {{#if isSelected}}
    <span class="selected {{classes 'dashboard.td.button.selected'}}">{{ text 'dashboard.company.selected' }}</span>
    {{else}}
    <span class="button button--primary button--small view-action {{classes 'dashboard.td.button.begin'}}" action-begin-masquerade data-company-id="{{ companyId }}">{{text 'global.user.masquerade.begin.button'}}</span>
    {{/if}}
  </td>
</tr>
{{/companies}}
