<div class="saleRep {{classes 'Dashboard'}}">
  <div class="b2b-wrap {{classes 'b2bWrap'}}">
    <div class="sale-info-wrap {{classes 'dashboard.panel.container'}}">
      <div class="sale-rep-user-info {{classes 'dashboard.userInfo.container'}}">
        <p class="sale-user-name {{classes 'dashboard.userInfo.name.container'}}">
          <span class="user-label {{classes 'dashboard.userInfo.name.label'}}">{{ text 'dashboard.user.name.label' }}</span>
          <span class="{{classes 'dashboard.userInfo.name.value'}}">{{userInfo.firstName}} {{userInfo.lastName}}</span>
        </p>
        <p class="{{classes 'dashboard.userInfo.email.container'}}">
          <span class="user-label {{classes 'dashboard.userInfo.email.label'}}">{{ text 'dashboard.user.email.label' }}</span>
          <span class="{{classes 'dashboard.userInfo.email.value'}}">{{userInfo.email}}</span>
        </p>
      </div>
      <div class="sale-reo-list-record {{classes 'dashboard.companyInfo.container'}}">
        <p class="{{classes 'dashboard.companyInfo.title'}}">{{ text 'dashboard.company.counts' }}</p>
        <p class="record-total {{classes 'dashboard.companyInfo.num'}}">{{pagination.perCount}}</p>
      </div>
    </div>
    <!-- <div class='pagination-wrap'>pagination</div> -->
    <div class="clearfix {{classes 'dashboard.actions.container'}}">
      <div class="search {{classes 'dashboard.search.container'}}">
        <input type="text" class="form-input {{classes 'dashboard.search.input'}}" placeholder="{{ text 'dashboard.search.placeholder' }}" value="{{filters.q}}">
      </div>
      <div class="pagination {{classes 'dashboard.pagination.container'}}">
        <ul class="pagination-list" id="pagination"></ul>
      </div>
    </div>
    <div class="table-wrap">
      <table class="responsive-table table-active-user {{classes 'dashboard.table'}}" id="sale-rep-table">
        <thead class="sort-thead">
          <tr>
            {{#filterMaps}}
            <th class="t-align-left pointer {{sortBy}} {{classes 'dashboard.thead.th'}}" data-sort-th data-order-by="{{orderBy}}">{{title}}<span
                class="filter-icon"></span></th>
            {{/filterMaps}}
            <th class="t-align-c {{classes 'dashboard.thead.th'}}">{{ text 'dashboard.action.title' }}</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    {{#if isShowEndMasquerade}}
    <div class="bottom-end-masquerade {{classes 'dashboard.td.button.end.container'}}"><a href="javascript:void(0);"
        class="button button--primary {{classes 'dashboard.td.button.end'}}" end-masquerade>{{text 'global.user.masquerade.end.button'}}</a></div>
    {{/if}}
  </div>
</div>
