<div class="form-field" id="tpa-email-filed" data-type="TpaEmailFiled">
  <label class="form-label" for="company_user_email">{{text 'tpa.form.company.email.label'}}
    <small>{{text 'global.required.label'}}</small>
  </label>
  <input class="form-input" type="text" id="company_user_email" name="company_user_email"
    data-field-type="TpaEmailFiled">
  <span style="display: none;"></span>
</div>
<div class="form-field" id="tpa-phone-filed" data-type="TpaPhoneFiled">
  <label class="form-label" for="company_user_phone">{{text 'tpa.form.company.phone.number.label'}}
    <small>{{text 'global.required.label'}}</small>
  </label>
  <input class="form-input" type="text" id="company_user_phone" name="company_user_phone"
    data-field-type="TpaPhoneFiled">
  <span style="display: none;"></span>
</div>
