.header {
	position: relative;
}

.selected {
	width: 1.2rem;
	height: 0.46rem;
	opacity: 1;
	background: #ffffff;
	border-radius: 0.24rem;
	box-shadow: 0rem 0.06rem 0.12rem 0rem rgba(0, 0, 0, 0.16);
	text-align: center;
	line-height: 0.46rem;

	opacity: 1;
	font-size: 0.26rem;
	font-family: .PingFang SC, .PingFang SC-Medium;
	font-weight: 500;
	/* text-align: left; */
	color: #313131;
}

.selected img {
	width: 0.14rem;
	height: 0.1rem;
	opacity: 1;
	/* float: left; */
	padding-left: 0.1rem;
}

.select-drop {
	position: absolute;
	right: 4%;
	top: 12%;
	height: 2rem;
}

.address-list {
	text-align: center;
	height: 0rem;
	transition: all 0.5s linear;
	overflow: hidden;
	margin-top: 0.1rem;
	background: #fff;
	border-radius: 0.1rem 0.1rem 0.2rem 0.2rem;
}

.address-list>div {

	margin-top: 0.1rem;
}

.show {
	height: 1.5rem;
}

.nav {
	margin-top: 32rpx;
	margin-left: 48rpx;
	position: relative;
}

.nav-text {
	opacity: 1;
	font-size: 0.34rem;
	font-family: .PingFang SC, .PingFang SC-Semibold;
	font-weight: 600;
	text-align: left;
	color: #141414;
}

.nav .select-drop .selected {
	width: 2rem;
	height: 0.54rem;
	opacity: 1;
	background: #ffffff;
	border-radius: 0.28rem;
	box-shadow: 0rem 0.06rem 0.12rem 0rem rgba(0, 0, 0, 0.16);
}

.tab {
	text-align: center;
	opacity: 1;
	font-size: 38rpx;
	font-family: .PingFang SC, .PingFang SC-Semibold;
	font-weight: 600;
	color: #141414;
	margin-top: 44rpx;
	margin-bottom: 0.4rem;
}

.tab>span {
	margin: 0 43rpx;

	opacity: 1;
	font-size: 0.38rem;
	font-family: .PingFang SC, .PingFang SC-Semibold;
	font-weight: 600;
	text-align: left;
	color: #141414;
}

.local {
	width: 100vw;
	height: 15rem;
	opacity: 1;
	background: #ffffff;
	border-radius: 50rpx;
	box-shadow: 0rpx 0rpx 12rpx 0rpx rgba(0, 0, 0, 0.16);
	overflow: hidden;
}

.container {
	margin: 50rpx;
}

.container>div:nth-of-type(1) {
	display: flex;
	justify-content: space-around;
}

.day {
	/* width: 40%; */
	text-align: center;

}

.day>div:nth-child(1),
.day>div:nth-child(3) {
	opacity: 1;
	font-size: 0.28rem;
	font-family: .PingFang SC, .PingFang SC-Semibold;
	font-weight: 600;
	color: #141414;
}

.day>div:nth-child(2) {
	opacity: 1;
	font-size: 0.28rem;
	font-family: .PingFang SC, .PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #929292;
}

.day>div {
	margin-bottom: 0.2rem;
}

.line {
	width: 0.02rem;
	height: 0.96rem;
	opacity: 0.14;
	border: 0.02rem solid #707070;
	margin-top: 0.2rem;
}

.tomorrow {
	text-align: center;
}

.tomorrow>div:nth-child(1),
.tomorrow>div:nth-child(3) {
	opacity: 1;
	font-size: 0.28rem;
	font-family: .PingFang SC, .PingFang SC-Semibold;
	font-weight: 600;
	color: #141414;
}

.tomorrow>div:nth-child(2) {
	opacity: 1;
	font-size: 0.28rem;
	font-family: .PingFang SC, .PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #929292;
}

.tomorrow>div {
	margin-bottom: 0.2rem;
}

hr {
	margin: 0.4rem 0;
}

.uni-noticebar {
	background-color: #fff !important;

}

::v-deep .uni-noticebar__content-text.uni-noticebar__content-text--scrollable {
	color: #000 !important;
	opacity: 1;
	font-size: 0.28rem;
	font-family: .PingFang SC, .PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #141414;


	opacity: 1;
	font-size: 0.28rem;
	/* font-family: .PingFang SC, .PingFang SC-Medium; */
	font-weight: 500;
	text-align: left;
	color: #141414;
}

.calendar {
	display: flex;
}

.date {
	margin-right: 0.42rem;
}

.date>div:nth-child(1) {
	width: 0.56rem;
	height: 0.4rem;
	opacity: 1;
	font-size: 0.28rem;
	/* font-family: .PingFang SC, .PingFang SC-Medium; */
	font-weight: 500;
	text-align: left;
	color: #929292;
}

.date>div:nth-child(2) {
	width: 0.42rem;
	height: 0.4rem;
	opacity: 1;
	font-size: 0.28rem;
	/* font-family: .PingFang SC, .PingFang SC-Medium; */
	font-weight: 500;
	text-align: left;
	color: #141414;
}




.calendar {
	position: relative;
	height: 100%;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	width: 100vw;
	height: 100%;
	margin-right: 0.4rem;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.bar {
	height: 0.7rem !important;
}

::v-deep .uni-noticebar__content-wrapper--scrollable {
	/* position: inherit; */
	/* 	height: 0.5rem !important;
	padding-top: 0.1rem !important; */
}

::v-deep .swiper-container.swiper-container-initialized.swiper-container-horizontal {
	/* bottom: -0.3rem; */
	height: 1.5rem;

}

::v-deep .uni-noticebar__content-wrapper .uni-noticebar__content-wrapper--scrollable {
	height: 0.5rem !important;
	padding-top: 0.1rem !important;
}

::v-deep .uni-noticebar__content-text.uni-noticebar__content-text--scrollable {
	height: 0.5rem !important;
	padding-top: 0.1rem !important;
}

::v-deep .swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 0.09rem !important;
	/* height: 0.5rem !important; */
}

::v-deep .swiper-container-android .swiper-slide,
.swiper-wrapper {
	height: 1.2rem !important;
}

::v-deep .uni-noticebar__content-wrapper--scrollable {
	height: 0.5rem !important;
}

.info {
	margin-bottom: 0.3rem;
}

.title {
	width: 0.96rem;
	height: 0.44rem;
	opacity: 1;
	font-size: 0.32rem;
	font-family: .PingFang SC, .PingFang SC-Medium;
	font-weight: 700;
	text-align: left;
	color: #141414;
	margin-bottom: 0.3rem;
}

.info-style {

	opacity: 1;
	font-size: 0.26rem;
	font-family: .PingFang SC, .PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #858585;


}

.info>div {
	margin-bottom: 0.2rem;
}

.footer {
	display: flex;
	text-align: center;
	margin: auto;
	width: 70%;

	justify-content: space-around;

	opacity: 1;
	font-size: 0.26rem;
	font-family: .PingFang SC, .PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #545454;
}

hr:last-of-type {
	width: 7.5rem;
	height: 0.1rem;
	opacity: 1;
	background: #eeeeee;
	outline: none;
	border: 0;

}
