.page {
	background-color: #eee;
}

.header {
	position: relative;
}

.selected {
	width: 1.2rem;
	height: 0.46rem;
	background: #ffffff;
	border-radius: 0.24rem;
	box-shadow: 0rem 0.06rem 0.12rem 0rem rgba(0, 0, 0, 0.16);
	text-align: center;
	line-height: 0.46rem;

	font-size: 0.26rem;
	font-family: .PingFang SC, .PingFang SC-Medium;
	font-weight: 500;
	/* text-align: left; */
	color: #313131;
}

.selected img {
	width: 0.14rem;
	height: 0.1rem;
	/* float: left; */
	padding-left: 0.1rem;
}

.select-drop {
	position: absolute;
	right: 4%;
	top: 7%;
	height: 2rem;
}

.area-list {
	text-align: center;
	height: 0rem;
	transition: all 0.5s linear;
	overflow: hidden;
	margin-top: 0.1rem;
	background: #fff;
	border-radius: 0.1rem 0.1rem 0.2rem 0.2rem;
	font-size: 0.26rem;
	overflow-y: auto;
}

.area-list>div {

	margin-top: 0.1rem;
}

.show {
	height: 1.5rem;
}

/* main */
.main {
	width: 7rem;
	margin: auto;
	margin-top: -0.7rem;
	overflow: hidden;
}

/* card */
.card {
	height: 3.57rem;
	background: #ffffff;
	border-radius: 0.2rem;
	box-shadow: 0rem 0rem 0.071rem 0.009rem rgba(194, 194, 196, 0.45);
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.card .container {
	margin: 0.3rem 0.3rem;
}

.card-header {
	display: flex;
	justify-content: space-between;
}

.card-header>div:nth-of-type(1) {
	width: 1.38rem;
	height: 0.35rem;
	font-size: 0.4rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 600;
	text-align: center;
	color: #333333;
	line-height: 0.5rem;
}

.card-header>div:nth-of-type(2) {

	font-size: 0.3rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: center;
	color: #666666;
	line-height: 0.5rem;
}

.card-header>div:nth-of-type(2)>img {
	width: 0.21rem;
	height: 0.13rem;
	/* border: 0.04rem solid #656565; */
	margin-left: 0.1rem;
}

.card-body {
	margin-top: 0.4rem;
	justify-content: space-between;
}

.card-body>div:nth-of-type(1) {
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #666666;
	line-height: 0.5rem;
}

.card-body>div:nth-of-type(2) {
	vertical-align: auto;
	position: relative;
}

.card-body>div:nth-of-type(2)>img {
	width: 0.12rem;
	height: 0.22rem;
	float: left;
	vertical-align: middle;
	margin-top: 0.17rem;
}

.card-tip {
	font-size: 0.22rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #999999;
	line-height: 0.5rem;
	margin: 0.2rem 0;
	padding-bottom: 0.1rem;
	border-bottom: 1px solid #bbbbbb87;
	width: 6.76rem;
}

.card-position {
	font-size: 0.28rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #666666;
	line-height: 0.5rem;
}

/* notification */
.notification {
	/* width: 7.21rem; */
	height: 1.19rem;
	line-height: 1.19rem;
	background: #ffffff;
	border-radius: 0.2rem;
	box-shadow: 0rem 0rem 0.071rem 0.009rem rgba(194, 194, 196, 0.45);
	margin-top: 0.21rem;
}

.notification .container {
	height: 70%;
	width: 90%;
	margin: auto;
	font-size: 0.28rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #ff6600;
}

/* tab */
.tab {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.tab-list {
	justify-content: space-between;
	width: 93%;
	/* height: 1rem !important; */
	margin: auto;
	font-size: 0.3rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	text-align: center;
	color: #333333;
	line-height: 0.5rem;
	margin-bottom: 0.3rem;
	/* position: fixed; */
	/* margin-left: 0.3rem; */
}
.fixed{
    position: fixed;
    top: 0;
    background: #fff;
    height: 1rem;
    margin: auto;
    line-height: 1rem;
	justify-content: space-around !important;

}
.fixed{
	    justify-content: space-around;
}
/* .tab-list-1{
	width: 85%;
	height: 1rem !important;
} */
.tab-bar {
	background: #ffffff;
	background-color: #FF6600;
	border: 0.02rem solid #ff6600;
}

.tab-info {
	/* height: 9rem; */
	background: #ffffff;
	border-radius: 0.2rem;
	box-shadow: 0rem 0rem 0rem 0rem rgba(194, 194, 196, 0.45);
	overflow: hidden;
}

.tab-detail {
	margin: 0.3rem;
}

.flex {
	justify-content: space-between;
}

.tab-detail .flex>div:nth-of-type(1) {
	font-size: 0.36rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	color: #333333;
}

.tab-detail .flex>div:nth-of-type(2) {
	/* width: 18%; */
	font-size: 0.36rem;
	font-size: 0.26rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	color: #999999;
}

.tab-detail .flex>div:nth-of-type(2) img {
	width: 0.09rem;
	height: 0.16rem;
	margin-left: 0.1rem;
}

.buy-card {
	width: 6.26rem;
	/* height: 3.9rem; */
	background: #f7f7f7;
	border-radius: 0.2rem;
	overflow: hidden;
	margin-top: 0.3rem;
}

.buy-card .container {
	margin: 0.15rem 0.3rem;
}

.buy-card .container div:first-child div:first-child {
	font-size: 0.3rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 700;
	text-align: left;
	color: #333333;
	line-height: 0.5rem;
}

.buy-card .container div:first-child div:last-child {
	width: 0.92rem;
	height: 0.28rem;
	font-size: 0.36rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #ff6600;
	line-height: 0.5rem;
}

.buy-card .container div:nth-of-type(2) {
	font-size: 0.24rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #999999;
	line-height: 0.5rem;
}

.buy-card .container div:last-of-type div:first-child {
	font-size: 0.24rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #666666;
	line-height: 0.5rem;
}

.buy-card .container div:last-of-type div:last-child {
	width: 1.1rem;
	height: 0.48rem;
	background: #ff6600;
	border-radius: 0.24rem;
	font-size: 0.26rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	line-height: 0.5rem;
}

.buy-card .container hr {
	margin-top: 0.3rem;
	position: relative;
	width: 200%;
	right: 50%;
	background: #f5f4f4;
}

.card-status-0 {
	width: 1.1rem;
	height: 0.48rem;
	opacity: 1;
	background: #aaaaaa !important;
	border-radius: 0.24rem;
}

.card-status-1 {
	width: 1.1rem;
	height: 0.48rem;
	opacity: 1;
	background: #aaaaaa !important;
	border-radius: 0.24rem;
}

::v-deep .uni-popup__wrapper.center {
	font-size: 0.36rem;
	color: #fff;

	width: 3.82rem;
	height: 0.98rem;
	opacity: 0.7;
	background: #333333;
	border-radius: 0.49rem;
	text-align: center;
	line-height: 0.98rem;
}

.tab-footer-container {
	margin: 0.3rem 0;
}

.tab-footer-container img {
	width: 0.21rem;
	height: 0.21rem;
	opacity: 1;
}

.tab-footer-container div:first-of-type {
	opacity: 1;
	font-size: 0.24rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #333333;
	line-height: 0.5rem;
}

.tab-footer-container div:last-of-type {
	font-size: 0.22rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: justifyLeft;
	color: #999999;
	line-height: 0.36rem;
}

.tab-footer-container>div {
	margin-top: 0.2rem;
}

/* introduce*/
.introduce {
	/* width: 7.21rem; */
	height: 22.63rem;
	opacity: 1;
	background: #ffffff;
	border-radius: 0.2rem;
	box-shadow: 0rem 0rem 0.071rem 0.009rem rgba(194, 194, 196, 0.45);
	overflow: hidden;
}

.introduce-title {
	opacity: 1;
	font-size: 0.3rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	text-align: left;
	color: #333333;
	line-height: 0.5rem;
	margin: 0.3rem 0.2rem 0.15rem 0.3rem;
}

.introduce-info {
	opacity: 1;
	font-size: 0.26rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: justifyLeft;
	color: #666666;
	line-height: 0.4rem;
	margin:0 0.3rem 0.33rem 0.53rem;
}
.introduce-btn{
	opacity: 1;
	font-size: 0.3rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: center;
	color: #ff6600;
	margin-bottom: 0.4rem;
}
.line{

    /* height: 0.02rem; */
    opacity: 0.1;
    border: 0.01rem solid #000000;
    margin: auto;
}
.whole-team{
	margin:0.2rem;
}
.whole-team .title{
	opacity: 1;
	font-size: 0.24rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #999999;
	line-height: 0.5rem;
}
.whole-team-detail{
	width: 6.54rem;
	height: 8.04rem;
	opacity: 1;
	background: #aaaaaa;
	border-radius: 0.2rem;
}

/* notice */
.notice{
/* 	width: 7.21rem; */
	height: 10.4rem;
	opacity: 1;
	background: #ffffff;
	border-radius: 0.2rem;
	box-shadow: 0rem 0rem 0.071rem 0.009rem rgba(194,194,196,0.45); 
	overflow: hidden;
	margin: 0.3rem 0;
	
}
.notice-title{
	opacity: 1;
	font-size: 0.3rem;
	/* font-family: PingFang SC, PingFang SC-Semibold; */
	font-weight: 700;
	text-align: left;
	color: #333333;
	line-height: 0.5rem;
	margin:0.3rem 0.2rem;
}
.notice-body{
	margin: 0 0.3rem;
}
.notice-body-container img{
	width: 0.21rem;
	height: 0.21rem;
	opacity: 1;
}
.notice-body-container div{
	opacity: 1;
	font-size: 0.24rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #333333;
	line-height: 0.5rem;
}
.notice-body-container div div:last-child{
	opacity: 1;
	font-size: 0.22rem; 
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: justifyLeft;
	color: #999999;
	line-height: 0.36rem;
	    margin-left: 0.2rem;
}
.question-title{
opacity: 1;
    font-size: 0.3rem;
    /* font-family: PingFang SC, PingFang SC-Semibold; */
    font-weight: 700;
    text-align: left;
    color: #333333;
    line-height: 0.5rem;
    margin: 0.3rem 0.2rem;
}
.questionBar{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	    width: 91%;
	    margin: auto;
	    text-align: center;
	    margin-left: 0.2rem;
}
.questionBar>div{
    height: 0.62rem;
    line-height: 0.62rem;
    opacity: 1;
    background: #ffffff;
    border: 0.02rem solid #eeeeee;
    border-radius: 0.32rem;
    font-size: 0.24rem;
    font-family: PingFang SC, PingFang SC-Medium;
    font-weight: 500;
    color: #666666;
    margin-bottom: 0.3rem;
	padding: 0 0.2rem;
}
.line-1{
    opacity: 0.1;
    border: 0.02rem solid #000000;
    /* margin: auto; */
    margin: 0 0.5rem 0 0.3rem;
}
.show-question{
	opacity: 1;
	font-size: 0.3rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: center;
	color: #ff6600;
	line-height: 0.5rem;
	margin-top: 0.3rem;
}
/* volunteer */
.volunteer{
    height: 4.15rem;
    opacity: 1;
    background: #ffffff;
    border-radius: 0.2rem;
    box-shadow: 0rem 0rem 0.071rem 0.009rem rgb(194 194 196 / 45%);
    overflow: hidden;
    margin: auto;
	margin-bottom: 0.3rem;
}
.volunteer-title{
	opacity: 1;
	font-size: 0.3rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	text-align: left;
	color: #333333;
	line-height: 0.5rem;
	margin:0.3rem 0.2rem;
}
.volunteer-btn{
	width: 6.54rem;
	height: 0.7rem;
	line-height: 0.7rem;
	opacity: 1;
	background: #fdeee3;
	border-radius: 0.35rem;
	margin:auto;
	font-size: 0.28rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	color: #3d1f09;
	text-align: center;
}
/* recommend */
.recommend{
	/* height: 11.4rem; */
	opacity: 1;
	background: #ffffff;
	border-radius: 0.2rem;
	/* margin:0.3rem 0.2rem; */
	padding:0.3rem 0.2rem; 
	position: relative;
}
.tab-recommend{
	opacity: 1;
	font-size: 0.28rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	text-align: left;
	color: #141414;
	line-height: 0.5rem;
}
.line-2{
	opacity: 0.1;
	background: #5195dd;
	border: 0.02rem solid #000000;
}
.progress{
    background: #ffffff;
    background-color: #FF6600;
    border: 0.015rem solid #ff6600;
    position: absolute;
    width: 0.5rem;
    top: 1.1rem;
    left: 0.3rem;
	transition: left .3s linear;
}
.music-news{
	margin:0.3rem;
}
.music-news div div:nth-of-type(1){
	opacity: 1;
	font-size: 0.28rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	text-align: left;
	color: #282828;
	line-height: 0.5rem;
}
.music-news div div:nth-of-type(2){
	opacity: 1;
	font-size: 0.24rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #5b5b5b;
	line-height: 0.5rem;
}
.line-2{
	margin:0.3rem 0;
	background-color: #333;
}
.music-news img{
	width: 0.34rem;
	height: 0.2rem;
	opacity: 1;
}
.news-btn{
	width: 3rem;
	height: 0.8rem;
	line-height: 0.8rem;
	opacity: 1;
	background: #eeeeee;
	border-radius: 0.2rem;
	
	opacity: 1;
	font-size: 0.28rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: center;
	color: #282828;
	margin:auto;
	margin-top:0.5rem;
}