
    <div class="b2b-wrap quick-pad-container {{classes 'b2bWrap'}} {{classes 'quickOrderPad'}} {{classes 'qop.container'}}">
      <div class="quick-order-pad-wrap quick-pad-left {{classes 'qop.left.panel.container'}}">
      <div class="quick-order-pad {{classes 'qop.left.panel'}}">
          <div>
            <div class="file-upload-title {{classes 'qop.left.title'}}">{{text 'qop.upload.csv.title'}}</div>
                  <div class="form-input-desc {{classes 'qop.left.panel.subtitle'}}" style="margin-bottom: 1rem;"><a href="https://silk-demo-store45.mybigcommerce.com/content/sample_template.csv">{{text 'qop.download.csv.title'}}</a></div>
          <div class="file-upload-header">
            <div class="file-upload-drop {{classes 'qop.left.panel.upload.container'}}" id="drag_upload_csv">
                <span class="{{classes 'qop.left.panel.upload.label'}}">
                  {{text 'qop.upload.click.lable'}}
                   </br>
                   {{text 'qop.upload.drag.lable'}}
                </span>
          </div>

            <div class="file-upload-input">
              <div class="upload-container">
                <a href="javascript:void(0);" class="uploadFile-mockup button">{{text 'qop.choose.file.button'}}</a>
                <input id="customer_sku_csv" type="file" data-reset="true" class="action-upload" name="sku_file" accept=".csv">
              </div>

                      </div>
                      <div id="file_name" class="file-upload-title"></div>
          </div>


          <div class="csv-check-info" id="csv_check_info"></div>

          <div class="csv-product-list" id="csv_products_list">
            <table class="quick-order-pad-table" id="quick_order_pad_table_csv">

            </table>
                  </div>
                  <div class="csv-check-info" id="csv_err_message"></div>
          </div>


        <div class="table-toolbar">
          <div class="toolbar-actions">
            <button href="javascript:void(0);" class="button button--primary fright add_to_cart_csv {{classes 'qop.left.panel.button.addToCart'}}" id="add_to_cart_csv">{{text 'qop.add.to.cart.button'}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="quick-order-pad-wrap quick-pad-right {{classes 'qop.right.panel.container'}}">
      <div class="quick-order-pad {{classes 'qop.right.panel'}}">
                  <div class="file-upload-title {{classes 'qop.right.panel.title'}}">{{text 'qop.upload.sku.title'}}</div>
          <table class="quick-order-pad-table" id="quick_order_pad_table">
            <thead>
              <tr>
                <th></th>
                <th class="{{classes 'qop.right.panel.subtitle'}}">{{ text 'qop.thead.variantSku' }}</th>
                <th class="th-col-quantity {{classes 'qop.right.panel.subtitle'}}">{{ text 'qop.thead.quantity' }}</th>
                <th class="th-col-message"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-action-left"><sapn class="remove-icon {{classes 'qop.right.panel.remove'}}" data-remove-cell>&minus;</span></td>
                <td class="col-sku"><div class="product-info"><input class="form-input {{classes 'qop.right.panel.sku.input'}}" type="text" data-sku><div class="sku-search-results"></div><span class="error-info">{{ text 'qop.tbody.invalidSku' }} <span>!</span></span></div></td>
                <td class="col-qty"><input class="form-input {{classes 'qop.right.panel.qty.input'}}" type="text" autocomplete="off" data-qty></td>
                <td class="th-col-message"><span data-total-price></span></td>
            </tr>
            <tr>
              <td class="col-action-left"><sapn class="remove-icon {{classes 'qop.right.panel.remove'}}" data-remove-cell>&minus;</span></td>
              <td class="col-sku"><div class="product-info"><input class="form-input {{classes 'qop.right.panel.sku.input'}}" type="text" data-sku><div class="sku-search-results"></div><span class="error-info">{{ text 'qop.tbody.invalidSku' }} <span>!</span></span></div></td>
              <td class="col-qty"><input class="form-input {{classes 'qop.right.panel.qty.input'}}" type="text" autocomplete="off" data-qty></td>
              <td class="th-col-message"><span data-total-price></span></td>
          </tr>
          <tr>
            <td class="col-action-left"><sapn class="remove-icon {{classes 'qop.right.panel.remove'}}" data-remove-cell>&minus;</span></td>
            <td class="col-sku"><div class="product-info"><input class="form-input {{classes 'qop.right.panel.sku.input'}}" type="text" data-sku><div class="sku-search-results"></div><span class="error-info">{{ text 'qop.tbody.invalidSku' }} <span>!</span></span></div></td>
            <td class="col-qty"><input class="form-input {{classes 'qop.right.panel.qty.input'}}" type="text" autocomplete="off" data-qty></td>
            <td class="th-col-message"><span data-total-price></span></td>
        </tr>
        <tr>
          <td class="col-action-left"><sapn class="remove-icon {{classes 'qop.right.panel.remove'}}" data-remove-cell>&minus;</span></td>
          <td class="col-sku"><div class="product-info"><input class="form-input {{classes 'qop.right.panel.sku.input'}}" type="text" data-sku><div class="sku-search-results"></div><span class="error-info">{{ text 'qop.tbody.invalidSku' }} <span>!</span></span></div></td>
          <td class="col-qty"><input class="form-input {{classes 'qop.right.panel.qty.input'}}" type="text" autocomplete="off" data-qty></td>
          <td class="th-col-message"><span data-total-price></span></td>
      </tr>
      <tr>
        <td class="col-action-left"><sapn class="remove-icon {{classes 'qop.right.panel.remove'}}" data-remove-cell>&minus;</span></td>
        <td class="col-sku"><div class="product-info"><input class="form-input {{classes 'qop.right.panel.sku.input'}}" type="text" data-sku><div class="sku-search-results"></div><span class="error-info">{{ text 'qop.tbody.invalidSku' }} <span>!</span></span></div></td>
        <td class="col-qty"><input class="form-input {{classes 'qop.right.panel.qty.input'}}" type="text" autocomplete="off" data-qty></td>
        <td class="th-col-message"><span data-total-price></span></td>
    </tr>

            </tbody>
          </table>
              <div class="result-message"></div>
        <div class="table-toolbar">
          <div class="toolbar-actions {{classes 'qop.right.panel.button.container'}}">
            <button href="javascript:void(0);" class="button {{classes 'qop.right.panel.button.addRow'}}" id="add_new_row">{{text 'qop.add.row.button'}}</button>
            <button href="javascript:void(0);" class="button button--primary fright add_to_cart {{classes 'qop.right.panel.button.addRow'}}" id="add_to_cart">{{text 'qop.add.to.cart.button'}}</button>
          </div>
        </div>
      </div>
    </div>




  </div>
