/* header */
.header {
	position: relative;
}

.selected {
	width: 1.2rem;
	height: 0.46rem;
	opacity: 1;
	background: #ffffff;
	border-radius: 0.24rem;
	box-shadow: 0rem 0.06rem 0.12rem 0rem rgba(0, 0, 0, 0.16);
	text-align: center;
	line-height: 0.46rem;

	opacity: 1;
	font-size: 0.26rem;
	font-family: .PingFang SC, .PingFang SC-Medium;
	font-weight: 500;
	/* text-align: left; */
	color: #313131;
}

.selected img {
	width: 0.14rem;
	height: 0.1rem;
	opacity: 1;
	/* float: left; */
	padding-left: 0.1rem;
}

.select-drop {
	position: absolute;
	right: 4%;
	top: 7%;
	height: 2rem;
}

.city-list {
	text-align: center;
	height: 0rem;
	transition: all 0.5s linear;
	overflow: hidden;
	margin-top: 0.1rem;
	background: #fff;
	border-radius: 0.1rem 0.1rem 0.2rem 0.2rem;
	font-size: 0.26rem;
	overflow-y: auto;
}

.city-list>div {
	margin-top: 0.2rem;
	height: 20%;
}

.show {
	height: 1.5rem;
}

.line-1 {
	width: 7.5rem;
	height: 0.16rem;
	opacity: 1;
	background: #098f98;
}

/* platform */
.main {
	width: 7.5rem;
	opacity: 1;
	background: #5fd0d7;
	overflow: hidden;
	padding-bottom: 2rem;
}

.platform-title {
	opacity: 1;
	font-size: 0.34rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	text-align: left;
	color: #ffffff;
	line-height: 0.5rem;
	margin: 0.3rem 0.2rem;
	overflow: hidden;
}

.platform-title img {
	width: 0.18rem;
	height: 0.18rem;
	opacity: 1;
	background: #ffffff;
	border-radius: 0.3rem;
	margin-right: 0.2rem;
}

.platform-card {
	width: 7.21rem;
	height: 2.39rem;
	margin: auto;
	opacity: 1;
	background: #ffffff;
	border-radius: 0.2rem;
	box-shadow: 0rem 0rem 0.071rem 0.009rem rgba(194, 194, 196, 0.45);
	overflow: hidden;
	margin-bottom: 0.3rem;
}

.platform-card-container {
	margin: 0.3rem;
	overflow: hidden;
}

.platform-card-container>div:first-of-type {
	margin-left: 0.5rem;
	margin-bottom: 0.2rem;
}

.platform-card-container span:first-of-type {
	width: 1.26rem;
	height: 0.31rem;
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	text-align: left;
	color: #333333;
	line-height: 0.5rem;
}

.platform-card-container span:last-of-type {
	width: 1.19rem;
	height: 0.23rem;
	opacity: 1;
	font-size: 0.24rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #999999;
	line-height: 0.5rem;
	margin-left: 0.2rem;
}

.line-2 {
	width: 6.42rem;
	/* height: 0.02rem; */
	opacity: 0.1;
	border: 0.01rem solid #000000;
	margin-bottom: 0.4rem;
}

.platform-card-container>div:last-of-type {
	display: flex;
	justify-content: space-around;
}

.platform-card-container>div:last-of-type>div {
	width: 1.6rem;
	height: 0.5rem;
	opacity: 1;
	background: #daf3f5;
	border-radius: 0.25rem;
	opacity: 1;
	font-size: 0.26rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: center;
	color: #098f98;
	line-height: 0.5rem;
}

/* other */
.platform-title img {
	width: 0.18rem;
	height: 0.18rem;
	opacity: 1;
	background: #ffffff;
	border-radius: 0.3rem;
	margin-right: 0.2rem;
}

.platform-title {
	opacity: 1;
	font-size: 0.34rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	text-align: left;
	color: #ffffff;
	line-height: 0.5rem;
	margin: 0.3rem 0.2rem;
	overflow: hidden;
}

.search {
	display: flex;
	justify-content: space-around;
	position: relative;
}

.search input {
	width: 5.14rem;
	height: 0.66rem;
	opacity: 1;
	background: #35a7ae;
	border: 0.02rem solid #ffffff;
	border-radius: 0.34rem;
	font-size: 0.28rem;
	position: relative;
	z-index: 2;
}

.search>div:last-of-type {
	width: 1.12rem;
	height: 0.66rem;
	line-height: 0.36rem;
	text-align: center;
	opacity: 1;
	background: #35a7ae;
	border: 0.02rem solid #ffffff;
	border-radius: 0.34rem;
}

.search img {
	width: 0.42rem;
	height: 0.4rem;
	opacity: 1;
	text-align: center;
	padding-bottom: 0.05rem;

}

.uni-input-placeholder {
	color: #fff;
	margin-left: 0.5rem;
}

::v-deep .uni-input-input {
	padding-left: 0.5rem !important;
	color: #fff;
}

.other-card {
	width: 7.21rem;
	height: 4.45rem;
	margin: auto;
	opacity: 1;
	background: #ffffff;
	border-radius: 0.2rem;
	box-shadow: 0rem 0rem 0.071rem 0.009rem rgba(194, 194, 196, 0.45);
	overflow: hidden;
	margin-top: 0.3rem;
}

.other-card-container {
	width: 90%;
	margin: auto;
	margin-top: 0.3rem;
}

.other-card-header {
	justify-content: space-between;
}

.other-card-header img {
	width: 0.14rem;
	height: 0.26rem;
	opacity: 1;
}

.other-card-header span:first-of-type {
	width: 0.62rem;
	height: 0.31rem;
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	text-align: left;
	color: #333333;
	line-height: 0.5rem;
	margin-right: 0.2rem;
}

.other-card-header span:last-of-type {
	width: 1.57rem;
	height: 0.23rem;
	opacity: 1;
	font-size: 0.24rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: left;
	color: #999999;
	line-height: 0.5rem;
}

.other-card-body>div {
	display: flex;
	justify-content: space-around;
	margin: 0.3rem 0;
}

.other-card-body img {
	width: 0.14rem;
	height: 0.14rem;
	opacity: 1;
	/* background: #fec106; */
	border-radius: 0.07rem;
	margin-right: 0.2rem;
}

.other-card-body hr {
	width: 6.42rem;
	/* height: 0.02rem; */
	opacity: 0.1;
	border: 0.01rem solid #000000;
}

.other-card-body div:first-of-type {

	opacity: 1;
	font-size: 0.3rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	text-align: left;
	color: #666666;
	line-height: 0.5rem;
}

.other-card-body div:nth-of-type(2) {
	width: 1.6rem;
	height: 0.5rem;
	opacity: 1;
	background: #daf3f5;
	border-radius: 0.25rem;

	opacity: 1;
	font-size: 0.26rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: center;
	color: #098f98;
	line-height: 0.5rem;
}

.other-card-body div:nth-of-type(3) {
	width: 1.6rem;
	height: 0.5rem;
	opacity: 1;
	background: #daf3f5;
	border-radius: 0.25rem;

	opacity: 1;
	font-size: 0.26rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: center;
	color: #098f98;
	line-height: 0.5rem;
}

.search-list {
	position: absolute;
	opacity: 1;
	font-size: 0.26rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: center;
	color: #000;
	line-height: 0.5rem;
	top: -0.2rem;
	left: 0.3rem;
	list-style: none;
	display: none;
	margin-top: 0.2rem;
	width: 5.17rem;
	height: 1.2rem;

	padding: 0;
	border-radius: 0.3rem 0.3rem 0.2rem 0.2rem;
	z-index: 1;
	padding-top: 1rem;
}

.search-list-show {
	display: initial !important;
	background: #fff;
}

.search-list-show li {
	border-bottom: 0.01rem solid #3333333d;
	text-align: left;
	text-align: left;
	margin-left: 0.5rem;
	margin-bottom: 0.2rem;
}

.search-list-show li:last-of-type {
	border-bottom: 0;
}

.selected-false {
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	text-align: left;
	color: #333333;
	line-height: 2rem;
	margin: auto;
	text-align: center;
}

.footer {
	width: 7.5rem;
	height: 10vh;
	opacity: 1;
	background: #ffffff;
	border-radius: 0rem;
	box-shadow: 0rem 0rem 0.06rem 0rem rgba(135, 134, 134, 0.50);
	position: fixed;
	top: 90vh;
	z-index: 100;
}

.footer-container {
	display: flex;
	justify-content: space-around;

	opacity: 1;
	font-size: 0.3rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: center;
	/* color: #ffffff; */
	overflow: hidden;
	margin-top: 2vh;

}

.footer-container>div {
	width: 2.5rem;
	height: 0.8rem;
	line-height: 0.8rem;
	opacity: 1;
	background: #1f7479;
	border-radius: 0.4rem;
	overflow: hidden;
	opacity: 1;
	font-size: 0.3rem;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
}

.footer-container>div:last-of-type {
	width: 40%;
}

.footer-container img {
	width: 0.36rem;
	height: 0.36rem;
	opacity: 1;
	margin: 0.2rem 0 0 0.1rem;
}
.btn{
	width: 45%;
	margin:auto;
}
.btn{
	display: flex;
	justify-content: space-around;
}
.module{
	width: 7.21rem;
	height: 4.45rem;
	opacity: 1;
	background: #ffffff;
	border-radius: 0.2rem;
	box-shadow: 0rem 0rem 0.071rem 0.009rem rgba(194,194,196,0.45); 
	margin:auto;
	opacity: 1;
	font-size: 0.6rem;
	font-family: PingFang SC, PingFang SC-Semibold;
	font-weight: 600;
	text-align: center;
	color: #275653;
	line-height: 4.45rem;
	margin-top:0.3rem
}