.main-title{
	    margin: 0.4rem 0.48rem;
}
.main-title img{
	width: 0.18rem;
	height: 0.26rem;
	opacity: 1;
}
.main-title span{
	    width: 1.28rem;
	    height: 0.44rem;
	    opacity: 1;
	    font-size: 0.32rem;
	    font-family: .PingFang SC, .PingFang SC-Medium;
	    font-weight: 800;
	    text-align: left;
	    color: #141414;
		margin-left: 0.2rem;
}

