.overflow_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.commonBtn {
  margin-top: 80px;
  width: 690px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 34px;
  color: #fff;
  border-radius: 45px;
  background: #7575f9;
  outline: none;
}

.tips_bg {
  margin: 20px auto 0;
  width: 690px;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  color: #ffd530;
  font-size: 24px;
  background: #333;
  position: relative;
}

.tips_bg:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 325px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: #333;
}

.van-toast{
  width: auto !important;
  min-width: 88px;
}
